In [1]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('./ipl_database.db')

# Create a cursor object
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Iterate over the table names
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    sql_query = 'SELECT * FROM '+ table_name+';'
    df = pd.read_sql_query(sql_query, conn)
    xlsx_file_path = "C:/Users/anubr/Python Projects/IPL/assets_xls/"

    # Convert the DataFrame to a excel file
    df.to_excel(xlsx_file_path+table_name+".xlsx", index=False)

    # Print a message indicating the conversion is complete
    print(f"DataFrame has been successfully converted to CSV file: {xlsx_file_path+table_name}.xls")

    
conn.close()

Table: ipl_ball_by_ball
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_ball_by_ball.xls
Table: ipl_venue_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_list.xls
Table: ipl_venue_innings_1
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_innings_1.xls
Table: ipl_venue_innings_2
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_innings_2.xls
Table: ipl_match_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_match_list.xls
Table: ipl_player_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_player_list.xls

In [11]:
import sqlite3
import data_manipulation
def get_batting_positions_id_innings(match_id, innings):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # SQL query to fetch all unique batters in the specified match ID and innings
    query = '''
    SELECT DISTINCT batter
    FROM ipl_ball_by_ball
    WHERE ID = ? AND innings = ?
    ORDER BY overs, ballnumber
    '''

    cursor.execute(query, (match_id, innings))
    batting_positions = [row[0] for row in cursor.fetchall()]

    conn.close()
    return batting_positions

def get_all_players(match_id):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # Retrieve the team players from the ipl_match_list table for the given match ID
    cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
    team_players = cursor.fetchone()

    conn.close()

    if team_players:
        # Split the string to get the list of players for both teams
        team1_players = team_players[0][1:-1].split(", ")
        team2_players = team_players[1][1:-1].split(", ")
        all_players = team1_players + team2_players
        return all_players
    else:
        print("No match found for the given ID.")
        return None

def get_remaining_players(match_id, innings):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # Retrieve toss information to determine which team is batting first
    cursor.execute("SELECT TossWinner, TossDecision FROM ipl_match_list WHERE ID = ?;", (match_id,))
    toss_data = cursor.fetchone()
    team1, team2 = None, None
    if toss_data:
        toss_winner, toss_decision = toss_data

        # Determine the team batting first based on toss decision
        if toss_decision.lower() == 'bat':
            batting_team = toss_winner
        else:
            # If the decision is to field, the other team is batting first
            cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
            teams_data = cursor.fetchone()
            team1, team2 = teams_data
            batting_team = team1 if toss_winner == team2 else team2

        # Retrieve the players' names from the ipl_match_list table for the batting team
        cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
        players_data = cursor.fetchone()

        conn.close()

        if players_data:
            team1_players_str = players_data[0] if batting_team == team1 else players_data[1]
            team2_players_str = players_data[1] if batting_team == team2 else players_data[0]

            # Convert the string format to a list of player names
            batting_team_players = eval(team1_players_str) if batting_team == team1 else eval(team2_players_str)

            # Get the batters who batted
            batters_list = data_manipulation.get_batting_positions_id_innings(match_id, innings)

            # Remove the batters who batted from the list of all players in the batting team
            remaining_players = [player for player in batting_team_players if player not in batters_list]

            return remaining_players
        else:
            print("No match found for the given ID.")
            return None
    else:
        print("No toss information found for the given ID.")
        return None

# Example usage:
match_id = 1312200
innings = 2
remaining_players = get_remaining_players(match_id, innings)
print("Remaining Players:", remaining_players)
print(len(remaining_players))

# Example usage:
match_id = 1312200
innings = 1
remaining_players = get_remaining_players(match_id, innings)
print("Remaining Players:", remaining_players)

Remaining Players: ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']
11
Remaining Players: ['M Prasidh Krishna', 'YS Chahal']

In [59]:
import sqlite3
import ast
import data_manipulation

def remaining_players(ID, innings, batting_list):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    cursor.execute("SELECT TossWinner, TossDecision, Team1, Team2, Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (ID,))
    toss_info = cursor.fetchone()
    
    if toss_info:
        TossWinner, TossDecision, Team1, Team2, Team1Players_str, Team2Players_str = toss_info
        
        Team1Players = ast.literal_eval(Team1Players_str)
        Team2Players = ast.literal_eval(Team2Players_str)

        batting_team_players = Team1Players if TossWinner == Team1 else Team2Players

        if innings == 1:
            if TossDecision == "bat":
                remaining_players_list = [player for player in batting_team_players if player not in batting_list]
            else:
                remaining_players_list = [player for player in batting_team_players]
        else:  # innings == 2
            if TossDecision == "bat":
                remaining_players_list = [player for player in batting_team_players]
            else:
                remaining_players_list = [player for player in batting_team_players if player not in batting_list]

        conn.close()
        return remaining_players_list
    else:
        conn.close()
        return []

ID = 1312199
innings = 1
batters_list = data_manipulation.get_batting_positions_id_innings(ID, innings)
remaining_players(ID, innings, batters_list)

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Parag',
 'R Ashwin',
 'TA Boult',
 'YS Chahal',
 'M Prasidh Krishna',
 'OC McCoy']

In [1]:
import search_results as sr
search_dict = sr.extract_elements()

In [2]:
search_dict

{'Players': ['JC Buttler',
  'R Vinay Kumar',
  'AC Blizzard',
  'RS Gavaskar',
  'Mohammed Siraj',
  'SP Narine',
  'AD Russell',
  'MS Dhoni',
  'SMSM Senanayake',
  'Arshdeep Singh',
  'M Prasidh Krishna',
  'GHS Garton',
  'BB Samantray',
  'Ramandeep Singh',
  'KMA Paul',
  'OF Smith',
  'FY Fazal',
  'MK Pandey',
  'DE Bollinger',
  'DP Nannes',
  'M Kaif',
  'HV Patel',
  'UT Khawaja',
  'DJ Harris',
  'AS Yadav',
  'MA Starc',
  'JP Behrendorff',
  'MS Wade',
  'BW Hilfenhaus',
  'T Shamsi',
  'KP Appanna',
  'S Dhawan',
  'JR Philippe',
  'Swapnil Singh',
  'Washington Sundar',
  'NLTC Perera',
  'SE Bond',
  'CA Pujara',
  'S Midhun',
  'Lalit Yadav',
  'JR Hazlewood',
  'KH Pandya',
  'Mohammad Nabi',
  'DJ Hussey',
  'D Brevis',
  'Jaskaran Singh',
  'Yashpal Singh',
  'P Kumar',
  'MS Bisla',
  'HE van der Dussen',
  'MN Samuels',
  'AS Roy',
  'J Suchith',
  'O Thomas',
  'DS Kulkarni',
  'S Badree',
  'VRV Singh',
  'DG Nalkande',
  'LJ Wright',
  'KS Bharat',
  'P Dharmani',
  'Misbah-ul-Haq',
  'AK Markram',
  'JM Sharma',
  'HM Amla',
  'RR Powar',
  'KA Pollard',
  'A Choudhary',
  'Shahid Afridi',
  'S Nadeem',
  'Y Venugopal Rao',
  'GC Smith',
  'Anand Rajan',
  'RV Uthappa',
  'CJ Dala',
  'KB Arun Karthik',
  'R Parag',
  'KK Nair',
  'GB Hogg',
  'SK Trivedi',
  'DB Das',
  'SM Katich',
  'Kamran Khan',
  'KK Ahmed',
  'SR Tendulkar',
  'R Dhawan',
  'Mohsin Khan',
  'RD Chahar',
  'SA Yadav',
  'M Markande',
  'A Chandila',
  'Abhishek Sharma',
  'RE Levi',
  'D Pretorius',
  'DPMD Jayawardene',
  'SA Asnodkar',
  'BB Sran',
  'PP Shaw',
  'RN ten Doeschate',
  'BJ Haddin',
  'RR Raje',
  'M Manhas',
  'Ishan Kishan',
  'BE Hendricks',
  'T Thushara',
  'SS Iyer',
  'A Flintoff',
  'D Padikkal',
  'Jalaj S Saxena',
  'J Theron',
  'SP Goswami',
  'RJ Peterson',
  'Anureet Singh',
  'M Jansen',
  'T Natarajan',
  'KW Richardson',
  'SE Marsh',
  'PD Collingwood',
  'R Shukla',
  'Y Nagar',
  'Bipul Sharma',
  'HH Gibbs',
  'CL White',
  'JPR Scantlebury-Searles',
  'RT Ponting',
  'NM Coulter-Nile',
  'KV Sharma',
  'CJ Ferguson',
  'AM Salvi',
  'R Sai Kishore',
  'DA Miller',
  'SS Sarkar',
  'LR Shukla',
  'D Salunkhe',
  'MA Agarwal',
  'RS Sodhi',
  'MG Johnson',
  'TK Curran',
  'K Rabada',
  'VS Malik',
  'C Munro',
  'PBB Rajapaksa',
  'E Lewis',
  'MP Stoinis',
  'KP Pietersen',
  'Mohammad Asif',
  'JP Duminy',
  'TG Southee',
  'JDS Neesham',
  'MJ Guptill',
  'MJ Clarke',
  'IK Pathan',
  'IS Sodhi',
  'HF Gurney',
  'DJ Muthuswami',
  'CR Woakes',
  'A Uniyal',
  'C Nanda',
  'RV Gomez',
  'PVD Chameera',
  'M Klinger',
  'MR Marsh',
  'P Simran Singh',
  'Shivam Sharma',
  'AJ Tye',
  'AP Dole',
  'YA Abdulla',
  'TM Srivastava',
  'CM Gautam',
  'Harpreet Singh',
  'P Parameswaran',
  'RK Singh',
  'AT Rayudu',
  'KJ Abbott',
  'YV Takawale',
  'P Negi',
  'DH Yagnik',
  'VG Arora',
  'J Syed Mohammad',
  'R Shepherd',
  'SPD Smith',
  'SS Cottrell',
  'RM Patidar',
  'M Kartik',
  'DA Warner',
  'I Udana',
  'Shahbaz Ahmed',
  'GH Vihari',
  'S Anirudha',
  'DT Patil',
  'NV Ojha',
  'Mohammed Shami',
  'GJ Maxwell',
  'SK Warne',
  'WD Parnell',
  'B Sumanth',
  'GD Phillips',
  'MV Boucher',
  'S Ladda',
  'YK Pathan',
  'NT Ellis',
  'KM Jadhav',
  'R Dravid',
  'K Yadav',
  'LS Livingstone',
  'B Kumar',
  'AT Carey',
  'SB Jakati',
  'SB Bangar',
  'BA Bhatt',
  'PWH de Silva',
  'KAJ Roach',
  'AA Bilakhia',
  'PJ Cummins',
  'C de Grandhomme',
  'AG Murtaza',
  'AB de Villiers',
  'RV Pawar',
  'FA Allen',
  'Harbhajan Singh',
  'OC McCoy',
  'R Bishnoi',
  'DJ Willey',
  'Azhar Mahmood',
  'L Ngidi',
  'SM Boland',
  'P Amarnath',
  'JA Richardson',
  'SP Jackson',
  'PJ Sangwan',
  'ER Dwivedi',
  'AM Rahane',
  'NB Singh',
  'Shashank Singh',
  'KMDN Kulasekara',
  'M Vohra',
  'JW Hastings',
  'JDP Oram',
  'Shoaib Ahmed',
  'RD Gaikwad',
  'R Rampaul',
  'AB Agarkar',
  'Umar Gul',
  'P Chopra',
  'TL Suman',
  'TM Head',
  'PP Chawla',
  'DJG Sammy',
  'M Morkel',
  'Simarjeet Singh',
  'VY Mahesh',
  'GS Sandhu',
  'SE Rutherford',
  'S Kaushik',
  'KR Sen',
  'Avesh Khan',
  'S Aravind',
  'Rashid Khan',
  'K Khejroliya',
  'SS Shaikh',
  'TU Deshpande',
  'JD Ryder',
  'CK Langeveldt',
  'Harmeet Singh',
  'KD Karthik',
  'AS Joseph',
  'TH David',
  'C Madan',
  'BMAJ Mendis',
  'MF Maharoof',
  'DT Christian',
  'CRD Fernando',
  'LMP Simmons',
  'Sandeep Sharma',
  'A Nortje',
  'S Sohal',
  'D du Preez',
  'N Saini',
  'JD Unadkat',
  'PK Garg',
  'Abdul Samad',
  'Ravi Bishnoi',
  'R Bhatia',
  'A Nehra',
  'S Gopal',
  'N Rana',
  'LE Plunkett',
  'BJ Hodge',
  'DL Vettori',
  'S Rana',
  'NK Patel',
  'V Shankar',
  'SP Fleming',
  'OA Shah',
  'BR Dunk',
  'D Wiese',
  'MJ McClenaghan',
  'Mohammad Hafeez',
  'KC Sangakkara',
  'AB McDonald',
  'FH Edwards',
  'AD Nath',
  'AF Milne',
  'CA Lynn',
  'YBK Jaiswal',
  'SB Joshi',
  'LRPL Taylor',
  'Akash Deep',
  'M Theekshana',
  'GJ Bailey',
  'DJ Jacobs',
  'V Pratap Singh',
  'RA Jadeja',
  'AB Dinda',
  'TS Mills',
  'J Botha',
  'A Symonds',
  'B Geeves',
  'H Das',
  'A Manohar',
  'WA Mota',
  'J Yadav',
  'RP Meredith',
  'RA Bawa',
  'S Lamichhane',
  'Mustafizur Rahman',
  'AD Hales',
  'M Rawat',
  'TP Sudhindra',
  'MEK Hussey',
  'H Klaasen',
  'DR Sams',
  'M Vijay',
  'S Sandeep Warrier',
  'MM Ali',
  'EJG Morgan',
  'SC Kuggeleijn',
  'P Suyal',
  'SJ Srivastava',
  'AN Ghosh',
  'NJ Maddinson',
  'JH Kallis',
  'JA Morkel',
  'R Powell',
  'Parvez Rasool',
  'Anmolpreet Singh',
  'DJ Malan',
  'MA Khote',
  'SS Prabhudessai',
  'P Prasanth',
  'SK Raina',
  'SB Wagh',
  'P Dogra',
  'CA Ingram',
  'CV Varun',
  'VS Yeligati',
  'B Indrajith',
  'TL Seifert',
  'M Shahrukh Khan',
  'AB Barath',
  'SW Billings',
  'PR Shah',
  'MJ Santner',
  'DW Steyn',
  'AM Nayar',
  'Pankaj Singh',
  'Yuvraj Singh',
  'WP Saha',
  'Kamran Akmal',
  'Sohail Tanvir',
  'LH Ferguson',
  'DJM Short',
  'T Banton',
  'S Badrinath',
  'DJ Mitchell',
  'P Sahu',
  'SN Khan',
  'Kartik Tyagi',
  'JC Archer',
  'A Chopra',
  'BJ Rohrer',
  'HR Shokeen',
  'Salman Butt',
  'GD McGrath',
  'Anirudh Singh',
  'RS Bopara',
  'DR Smith',
  'L Balaji',
  'S Chanderpaul',
  'Y Prithvi Raj',
  'JJ Roy',
  'R McLaren',
  'JM Kemp',
  'AR Patel',
  'VR Iyer',
  'G Gambhir',
  'UA Birla',
  'AC Thomas',
  'AG Paunikar',
  'N Pooran',
  'Aman Hakim Khan',
  'Anuj Rawat',
  'Sachin Baby',
  'KL Rahul',
  'R Sharma',
  'A Mishra',
  'DP Vijaykumar',
  'L Ablish',
  'A Kumble',
  'AJ Turner',
  'DNT Zoysa',
  'AC Gilchrist',
  'AN Ahmed',
  'VH Zol',
  'Umran Malik',
  'Vishnu Vinod',
  'DP Conway',
  'ST Jayasuriya',
  'MD Mishra',
  'PC Valthaty',
  'Kuldeep Yadav',
  'N Jagadeesan',
  'Navdeep Saini',
  'KS Williamson',
  'A Zampa',
  'JO Holder',
  'M Muralitharan',
  'ND Doshi',
  'LA Pomersbach',
  'B Stanlake',
  'R Tewatia',
  'Harshit Rana',
  'CK Kapugedera',
  'SN Thakur',
  'CJ Jordan',
  'MJ Henry',
  'AP Tare',
  'TA Boult',
  'JP Faulkner',
  'B Akhil',
  'V Sehwag',
  'B Chipli',
  'SV Samson',
  'NS Naik',
  'R Sathish',
  'ML Hayden',
  'SW Tait',
  'SB Styris',
  'LPC Silva',
  'PA Reddy',
  'K Upadhyay',
  'A Dananjaya',
  'I Malhotra',
  'B Sai Sudharsan',
  'MG Neser',
  'VR Aaron',
  'JE Taylor',
  'A Badoni',
  'MC Juneja',
  'AA Chavan',
  'DS Lehmann',
  'MM Patel',
  'Shivam Mavi',
  'RG Sharma',
  'BAW Mendis',
  'AP Majumdar',
  'SL Malinga',
  'MK Tiwary',
  'S Vidyut',
  'S Sreesanth',
  'GC Viljoen',
  'S Tyagi',
  'MC Henriques',
  'L Ronchi',
  'T Taibu',
  'SM Pollock',
  'AA Jhunjhunwala',
  'AA Noffke',
  'F du Plessis',
  'A Mithun',
  'C Ganapathy',
  'DJ Hooda',
  'K Goel',
  'CH Morris',
  'RR Rossouw',
  'AD Mathews',
  'SS Tiwary',
  'PA Patel',
  'IR Jaggi',
  'S Randiv',
  'M de Lange',
  'Karanveer Singh',
  'Iqbal Abdulla',
  'PP Ojha',
  'IC Pandey',
  'DJ Thornely',
  'RE van der Merwe',
  'MM Sharma',
  'Imran Tahir',
  'K Gowtham',
  'B Lee',
  'Ankit Sharma',
  'Gagandeep Singh',
  'JJ Bumrah',
  'U Kaul',
  'Shoaib Akhtar',
  'Y Gnaneswara Rao',
  'PSP Handscomb',
  'SM Curran',
  'S Sriram',
  'KA Jamieson',
  'I Sharma',
  'STR Binny',
  'F Behardien',
  'JM Bairstow',
  'RR Pant',
  'Ankit Soni',
  'AUK Pathan',
  'HH Pandya',
  'PH Solanki',
  'T Kohli',
  'BCJ Cutting',
  'TR Birt',
  'AC Voges',
  'P Awana',
  'S Kaul',
  'KM Asif',
  'SO Hetmyer',
  'K Kartikeya',
  'JL Pattinson',
  'KK Cooper',
  'Mujeeb Ur Rahman',
  'TM Dilshan',
  'Gurkeerat Singh',
  'S Dube',
  'BA Stokes',
  'CH Gayle',
  'AS Rajpoot',
  'VVS Laxman',
  'R Ashwin',
  'RA Tripathi',
  'UT Yadav',
  'KC Cariappa',
  'CJ Green',
  'DJ Bravo',
  'Yash Dayal',
  'CR Brathwaite',
  'Sunny Singh',
  'Q de Kock',
  'MN van Wyk',
  'AD Mascarenhas',
  'RP Singh',
  'Tilak Varma',
  'MJ Lumb',
  'MS Gony',
  'P Dubey',
  'KL Nagarkoti',
  'Mukesh Choudhary',
  'M Pathirana',
  'SC Ganguly',
  'Fazalhaq Farooqi',
  'Sunny Gupta',
  'Shubman Gill',
  'S Narwal',
  'BB McCullum',
  'DB Ravi Teja',
  'SA Abbott',
  'PV Tambe',
  'MK Lomror',
  'A Ashish Reddy',
  'M Ntini',
  'SD Chitnis',
  'B Laughlin',
  'A Mukund',
  'Basil Thampi',
  'AJ Finch',
  'Z Khan',
  'CJ Anderson',
  'Mandeep Singh',
  'RJ Harris',
  'A Singh',
  'Harpreet Brar',
  'Shoaib Malik',
  'MB Parmar',
  'JEC Franklin',
  'PM Sarvesh Kumar',
  'DL Chahar',
  'UBT Chand',
  'Shakib Al Hasan',
  'C Sakariya',
  'Joginder Sharma',
  'JR Hopes',
  'CJ McKay',
  'AS Raut',
  'M Ashwin',
  'D Kalyankrishna',
  'YS Chahal',
  'SR Watson',
  'SS Agarwal',
  'V Kohli',
  'WPUJC Vaas',
  'RR Sarwan',
  'RV Patel',
  'AL Menaria',
  'JL Denly',
  'W Jaffer'],
 'Venues': ['Narendra Modi Stadium',
  'Eden Gardens',
  'Wankhede Stadium',
  'Brabourne Stadium',
  'Dr DY Patil Sports Academy',
  'Maharashtra Cricket Association Stadium',
  'Dubai International Cricket Stadium',
  'Sharjah Cricket Stadium',
  'Zayed Cricket Stadium',
  'Arun Jaitley Stadium',
  'MA Chidambaram Stadium',
  'Sheikh Zayed Stadium',
  'Rajiv Gandhi International Stadium',
  'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
  'Punjab Cricket Association IS Bindra Stadium',
  'M.Chinnaswamy Stadium',
  'Sawai Mansingh Stadium',
  'Holkar Cricket Stadium',
  'M Chinnaswamy Stadium',
  'Feroz Shah Kotla',
  'Green Park',
  'Saurashtra Cricket Association Stadium',
  'Shaheed Veer Narayan Singh International Stadium',
  'JSCA International Stadium Complex',
  'Punjab Cricket Association Stadium',
  'Sardar Patel Stadium',
  'Barabati Stadium',
  'Subrata Roy Sahara Stadium',
  'Himachal Pradesh Cricket Association Stadium',
  'Nehru Stadium',
  'Vidarbha Cricket Association Stadium',
  'New Wanderers Stadium',
  'SuperSport Park',
  'Kingsmead',
  'OUTsurance Oval',
  "St George's Park",
  'De Beers Diamond Oval',
  'Buffalo Park',
  'Newlands'],
 'Cities': ['Ahmedabad',
  'Kolkata',
  'Mumbai',
  'Pune',
  'Dubai',
  'Sharjah',
  'Abu Dhabi',
  'Delhi',
  'Chennai',
  'Hyderabad',
  'Visakhapatnam',
  'Chandigarh',
  'Bengaluru',
  'Jaipur',
  'Indore',
  'Bangalore',
  'Kanpur',
  'Rajkot',
  'Raipur',
  'Ranchi',
  'Cuttack',
  'Dharamsala',
  'Kochi',
  'Nagpur',
  'Johannesburg',
  'Centurion',
  'Durban',
  'Bloemfontein',
  'Port Elizabeth',
  'Kimberley',
  'East London',
  'Cape Town'],
 'Teams': ['Chennai Super Kings',
  'Deccan Chargers',
  'Delhi Capitals',
  'Delhi Daredevils',
  'Gujarat Lions',
  'Gujarat Titans',
  'Kings XI Punjab',
  'Kochi Tuskers Kerala',
  'Kolkata Knight Riders',
  'Lucknow Super Giants',
  'Mumbai Indians',
  'Pune Warriors',
  'Punjab Kings',
  'Rajasthan Royals',
  'Rising Pune Supergiant',
  'Rising Pune Supergiants',
  'Royal Challengers Bangalore',
  'Sunrisers Hyderabad'],
 'Umpires': ['A Deshmukh',
  'A Nand Kishore',
  'AK Chaudhary',
  'AL Hill',
  'AM Saheba',
  'AV Jayaprakash',
  'AY Dandekar',
  'Aleem Dar',
  'Asad Rauf',
  'BF Bowden',
  'BG Jerling',
  'BNJ Oxenford',
  'BR Doctrove',
  'C Shamshuddin',
  'CB Gaffaney',
  'CK Nandan',
  'Chirra Ravikanthreddy',
  'DJ Harper',
  'GA Pratapkumar',
  'GAV Baxter',
  'GR Sadashiv Iyer',
  'HAS Khalid',
  'HDPK Dharmasena',
  'I Shivram',
  'IJ Gould',
  'IL Howell',
  'J Madanagopal',
  'JD Cloete',
  'K Bharatan',
  'K Hariharan',
  'K Srinath',
  'K Srinivasan',
  'KN Ananthapadmanabhan',
  'M Erasmus',
  'MA Gough',
  'MR Benson',
  'N Pandit',
  'NA Patwardhan',
  'NJ Llong',
  'Navdeep Singh',
  'Nitin Menon',
  'PG Pathak',
  'PR Reiffel',
  'R Pandit',
  'RB Tiffin',
  'RE Koertzen',
  'RJ Tucker',
  'RK Illingworth',
  'RM Deshpande',
  'S Asnani',
  'S Das',
  'S Ravi',
  'SD Fry',
  'SD Ranade',
  'SJ Davis',
  'SJA Taufel',
  'SK Tarapore',
  'SL Shastri',
  'SS Hazare',
  'Subroto Das',
  'TH Wijewardene',
  'Tapan Sharma',
  'UV Gandhe',
  'VA Kulkarni',
  'VK Sharma',
  'YC Barde']}

In [3]:
players = search_dict["Players"]
print(players)

['JC Buttler', 'R Vinay Kumar', 'AC Blizzard', 'RS Gavaskar', 'Mohammed Siraj', 'SP Narine', 'AD Russell', 'MS Dhoni', 'SMSM Senanayake', 'Arshdeep Singh', 'M Prasidh Krishna', 'GHS Garton', 'BB Samantray', 'Ramandeep Singh', 'KMA Paul', 'OF Smith', 'FY Fazal', 'MK Pandey', 'DE Bollinger', 'DP Nannes', 'M Kaif', 'HV Patel', 'UT Khawaja', 'DJ Harris', 'AS Yadav', 'MA Starc', 'JP Behrendorff', 'MS Wade', 'BW Hilfenhaus', 'T Shamsi', 'KP Appanna', 'S Dhawan', 'JR Philippe', 'Swapnil Singh', 'Washington Sundar', 'NLTC Perera', 'SE Bond', 'CA Pujara', 'S Midhun', 'Lalit Yadav', 'JR Hazlewood', 'KH Pandya', 'Mohammad Nabi', 'DJ Hussey', 'D Brevis', 'Jaskaran Singh', 'Yashpal Singh', 'P Kumar', 'MS Bisla', 'HE van der Dussen', 'MN Samuels', 'AS Roy', 'J Suchith', 'O Thomas', 'DS Kulkarni', 'S Badree', 'VRV Singh', 'DG Nalkande', 'LJ Wright', 'KS Bharat', 'P Dharmani', 'Misbah-ul-Haq', 'AK Markram', 'JM Sharma', 'HM Amla', 'RR Powar', 'KA Pollard', 'A Choudhary', 'Shahid Afridi', 'S Nadeem', 'Y Venugopal Rao', 'GC Smith', 'Anand Rajan', 'RV Uthappa', 'CJ Dala', 'KB Arun Karthik', 'R Parag', 'KK Nair', 'GB Hogg', 'SK Trivedi', 'DB Das', 'SM Katich', 'Kamran Khan', 'KK Ahmed', 'SR Tendulkar', 'R Dhawan', 'Mohsin Khan', 'RD Chahar', 'SA Yadav', 'M Markande', 'A Chandila', 'Abhishek Sharma', 'RE Levi', 'D Pretorius', 'DPMD Jayawardene', 'SA Asnodkar', 'BB Sran', 'PP Shaw', 'RN ten Doeschate', 'BJ Haddin', 'RR Raje', 'M Manhas', 'Ishan Kishan', 'BE Hendricks', 'T Thushara', 'SS Iyer', 'A Flintoff', 'D Padikkal', 'Jalaj S Saxena', 'J Theron', 'SP Goswami', 'RJ Peterson', 'Anureet Singh', 'M Jansen', 'T Natarajan', 'KW Richardson', 'SE Marsh', 'PD Collingwood', 'R Shukla', 'Y Nagar', 'Bipul Sharma', 'HH Gibbs', 'CL White', 'JPR Scantlebury-Searles', 'RT Ponting', 'NM Coulter-Nile', 'KV Sharma', 'CJ Ferguson', 'AM Salvi', 'R Sai Kishore', 'DA Miller', 'SS Sarkar', 'LR Shukla', 'D Salunkhe', 'MA Agarwal', 'RS Sodhi', 'MG Johnson', 'TK Curran', 'K Rabada', 'VS Malik', 'C Munro', 'PBB Rajapaksa', 'E Lewis', 'MP Stoinis', 'KP Pietersen', 'Mohammad Asif', 'JP Duminy', 'TG Southee', 'JDS Neesham', 'MJ Guptill', 'MJ Clarke', 'IK Pathan', 'IS Sodhi', 'HF Gurney', 'DJ Muthuswami', 'CR Woakes', 'A Uniyal', 'C Nanda', 'RV Gomez', 'PVD Chameera', 'M Klinger', 'MR Marsh', 'P Simran Singh', 'Shivam Sharma', 'AJ Tye', 'AP Dole', 'YA Abdulla', 'TM Srivastava', 'CM Gautam', 'Harpreet Singh', 'P Parameswaran', 'RK Singh', 'AT Rayudu', 'KJ Abbott', 'YV Takawale', 'P Negi', 'DH Yagnik', 'VG Arora', 'J Syed Mohammad', 'R Shepherd', 'SPD Smith', 'SS Cottrell', 'RM Patidar', 'M Kartik', 'DA Warner', 'I Udana', 'Shahbaz Ahmed', 'GH Vihari', 'S Anirudha', 'DT Patil', 'NV Ojha', 'Mohammed Shami', 'GJ Maxwell', 'SK Warne', 'WD Parnell', 'B Sumanth', 'GD Phillips', 'MV Boucher', 'S Ladda', 'YK Pathan', 'NT Ellis', 'KM Jadhav', 'R Dravid', 'K Yadav', 'LS Livingstone', 'B Kumar', 'AT Carey', 'SB Jakati', 'SB Bangar', 'BA Bhatt', 'PWH de Silva', 'KAJ Roach', 'AA Bilakhia', 'PJ Cummins', 'C de Grandhomme', 'AG Murtaza', 'AB de Villiers', 'RV Pawar', 'FA Allen', 'Harbhajan Singh', 'OC McCoy', 'R Bishnoi', 'DJ Willey', 'Azhar Mahmood', 'L Ngidi', 'SM Boland', 'P Amarnath', 'JA Richardson', 'SP Jackson', 'PJ Sangwan', 'ER Dwivedi', 'AM Rahane', 'NB Singh', 'Shashank Singh', 'KMDN Kulasekara', 'M Vohra', 'JW Hastings', 'JDP Oram', 'Shoaib Ahmed', 'RD Gaikwad', 'R Rampaul', 'AB Agarkar', 'Umar Gul', 'P Chopra', 'TL Suman', 'TM Head', 'PP Chawla', 'DJG Sammy', 'M Morkel', 'Simarjeet Singh', 'VY Mahesh', 'GS Sandhu', 'SE Rutherford', 'S Kaushik', 'KR Sen', 'Avesh Khan', 'S Aravind', 'Rashid Khan', 'K Khejroliya', 'SS Shaikh', 'TU Deshpande', 'JD Ryder', 'CK Langeveldt', 'Harmeet Singh', 'KD Karthik', 'AS Joseph', 'TH David', 'C Madan', 'BMAJ Mendis', 'MF Maharoof', 'DT Christian', 'CRD Fernando', 'LMP Simmons', 'Sandeep Sharma', 'A Nortje', 'S Sohal', 'D du Preez', 'N Saini', 'JD Unadkat', 'PK Garg', 'Abdul Samad', 'Ravi Bishnoi', 'R Bhatia', 'A Nehra', 'S Gopal', 'N Rana', 'LE Plunkett', 'BJ Hodge', 'DL Vettori', 'S Rana', 'NK Patel', 'V Shankar', 'SP Fleming', 'OA Shah', 'BR Dunk', 'D Wiese', 'MJ McClenaghan', 'Mohammad Hafeez', 'KC Sangakkara', 'AB McDonald', 'FH Edwards', 'AD Nath', 'AF Milne', 'CA Lynn', 'YBK Jaiswal', 'SB Joshi', 'LRPL Taylor', 'Akash Deep', 'M Theekshana', 'GJ Bailey', 'DJ Jacobs', 'V Pratap Singh', 'RA Jadeja', 'AB Dinda', 'TS Mills', 'J Botha', 'A Symonds', 'B Geeves', 'H Das', 'A Manohar', 'WA Mota', 'J Yadav', 'RP Meredith', 'RA Bawa', 'S Lamichhane', 'Mustafizur Rahman', 'AD Hales', 'M Rawat', 'TP Sudhindra', 'MEK Hussey', 'H Klaasen', 'DR Sams', 'M Vijay', 'S Sandeep Warrier', 'MM Ali', 'EJG Morgan', 'SC Kuggeleijn', 'P Suyal', 'SJ Srivastava', 'AN Ghosh', 'NJ Maddinson', 'JH Kallis', 'JA Morkel', 'R Powell', 'Parvez Rasool', 'Anmolpreet Singh', 'DJ Malan', 'MA Khote', 'SS Prabhudessai', 'P Prasanth', 'SK Raina', 'SB Wagh', 'P Dogra', 'CA Ingram', 'CV Varun', 'VS Yeligati', 'B Indrajith', 'TL Seifert', 'M Shahrukh Khan', 'AB Barath', 'SW Billings', 'PR Shah', 'MJ Santner', 'DW Steyn', 'AM Nayar', 'Pankaj Singh', 'Yuvraj Singh', 'WP Saha', 'Kamran Akmal', 'Sohail Tanvir', 'LH Ferguson', 'DJM Short', 'T Banton', 'S Badrinath', 'DJ Mitchell', 'P Sahu', 'SN Khan', 'Kartik Tyagi', 'JC Archer', 'A Chopra', 'BJ Rohrer', 'HR Shokeen', 'Salman Butt', 'GD McGrath', 'Anirudh Singh', 'RS Bopara', 'DR Smith', 'L Balaji', 'S Chanderpaul', 'Y Prithvi Raj', 'JJ Roy', 'R McLaren', 'JM Kemp', 'AR Patel', 'VR Iyer', 'G Gambhir', 'UA Birla', 'AC Thomas', 'AG Paunikar', 'N Pooran', 'Aman Hakim Khan', 'Anuj Rawat', 'Sachin Baby', 'KL Rahul', 'R Sharma', 'A Mishra', 'DP Vijaykumar', 'L Ablish', 'A Kumble', 'AJ Turner', 'DNT Zoysa', 'AC Gilchrist', 'AN Ahmed', 'VH Zol', 'Umran Malik', 'Vishnu Vinod', 'DP Conway', 'ST Jayasuriya', 'MD Mishra', 'PC Valthaty', 'Kuldeep Yadav', 'N Jagadeesan', 'Navdeep Saini', 'KS Williamson', 'A Zampa', 'JO Holder', 'M Muralitharan', 'ND Doshi', 'LA Pomersbach', 'B Stanlake', 'R Tewatia', 'Harshit Rana', 'CK Kapugedera', 'SN Thakur', 'CJ Jordan', 'MJ Henry', 'AP Tare', 'TA Boult', 'JP Faulkner', 'B Akhil', 'V Sehwag', 'B Chipli', 'SV Samson', 'NS Naik', 'R Sathish', 'ML Hayden', 'SW Tait', 'SB Styris', 'LPC Silva', 'PA Reddy', 'K Upadhyay', 'A Dananjaya', 'I Malhotra', 'B Sai Sudharsan', 'MG Neser', 'VR Aaron', 'JE Taylor', 'A Badoni', 'MC Juneja', 'AA Chavan', 'DS Lehmann', 'MM Patel', 'Shivam Mavi', 'RG Sharma', 'BAW Mendis', 'AP Majumdar', 'SL Malinga', 'MK Tiwary', 'S Vidyut', 'S Sreesanth', 'GC Viljoen', 'S Tyagi', 'MC Henriques', 'L Ronchi', 'T Taibu', 'SM Pollock', 'AA Jhunjhunwala', 'AA Noffke', 'F du Plessis', 'A Mithun', 'C Ganapathy', 'DJ Hooda', 'K Goel', 'CH Morris', 'RR Rossouw', 'AD Mathews', 'SS Tiwary', 'PA Patel', 'IR Jaggi', 'S Randiv', 'M de Lange', 'Karanveer Singh', 'Iqbal Abdulla', 'PP Ojha', 'IC Pandey', 'DJ Thornely', 'RE van der Merwe', 'MM Sharma', 'Imran Tahir', 'K Gowtham', 'B Lee', 'Ankit Sharma', 'Gagandeep Singh', 'JJ Bumrah', 'U Kaul', 'Shoaib Akhtar', 'Y Gnaneswara Rao', 'PSP Handscomb', 'SM Curran', 'S Sriram', 'KA Jamieson', 'I Sharma', 'STR Binny', 'F Behardien', 'JM Bairstow', 'RR Pant', 'Ankit Soni', 'AUK Pathan', 'HH Pandya', 'PH Solanki', 'T Kohli', 'BCJ Cutting', 'TR Birt', 'AC Voges', 'P Awana', 'S Kaul', 'KM Asif', 'SO Hetmyer', 'K Kartikeya', 'JL Pattinson', 'KK Cooper', 'Mujeeb Ur Rahman', 'TM Dilshan', 'Gurkeerat Singh', 'S Dube', 'BA Stokes', 'CH Gayle', 'AS Rajpoot', 'VVS Laxman', 'R Ashwin', 'RA Tripathi', 'UT Yadav', 'KC Cariappa', 'CJ Green', 'DJ Bravo', 'Yash Dayal', 'CR Brathwaite', 'Sunny Singh', 'Q de Kock', 'MN van Wyk', 'AD Mascarenhas', 'RP Singh', 'Tilak Varma', 'MJ Lumb', 'MS Gony', 'P Dubey', 'KL Nagarkoti', 'Mukesh Choudhary', 'M Pathirana', 'SC Ganguly', 'Fazalhaq Farooqi', 'Sunny Gupta', 'Shubman Gill', 'S Narwal', 'BB McCullum', 'DB Ravi Teja', 'SA Abbott', 'PV Tambe', 'MK Lomror', 'A Ashish Reddy', 'M Ntini', 'SD Chitnis', 'B Laughlin', 'A Mukund', 'Basil Thampi', 'AJ Finch', 'Z Khan', 'CJ Anderson', 'Mandeep Singh', 'RJ Harris', 'A Singh', 'Harpreet Brar', 'Shoaib Malik', 'MB Parmar', 'JEC Franklin', 'PM Sarvesh Kumar', 'DL Chahar', 'UBT Chand', 'Shakib Al Hasan', 'C Sakariya', 'Joginder Sharma', 'JR Hopes', 'CJ McKay', 'AS Raut', 'M Ashwin', 'D Kalyankrishna', 'YS Chahal', 'SR Watson', 'SS Agarwal', 'V Kohli', 'WPUJC Vaas', 'RR Sarwan', 'RV Patel', 'AL Menaria', 'JL Denly', 'W Jaffer']

In [4]:
players[:2]

['JC Buttler', 'R Vinay Kumar']

In [12]:
import data_manipulation
import pandas as pd
player_name = players[0]
c = 1
first_match_date, last_match_date = data_manipulation.get_first_and_last_match_dates(player_name)
combined_df_batting = pd.DataFrame(data_manipulation.batter_stats(player_name, first_match_date, last_match_date))
combined_df_bowling = pd.DataFrame(data_manipulation.bowler_stats(player_name, first_match_date, last_match_date))
print("Epoch = ",c,"/",len(players),"----",player_name)
for player_name in players[1:]:
    c+=1
    print("Epoch = ",c,"/",len(players),"----",player_name)
    first_match_date, last_match_date = data_manipulation.get_first_and_last_match_dates(player_name)
    batter_stats = data_manipulation.batter_stats(player_name, first_match_date, last_match_date)
    combined_df_batting = pd.concat([combined_df_batting, pd.DataFrame(batter_stats)], ignore_index=True)
    bowler_stats = data_manipulation.bowler_stats(player_name, first_match_date, last_match_date)
    combined_df_bowling = pd.concat([combined_df_bowling, pd.DataFrame(bowler_stats)], ignore_index=True)

Epoch =  1 / 606 ---- JC Buttler
Epoch =  2 / 606 ---- R Vinay Kumar
Epoch =  3 / 606 ---- AC Blizzard
Epoch =  4 / 606 ---- RS Gavaskar
Epoch =  5 / 606 ---- Mohammed Siraj
Epoch =  6 / 606 ---- SP Narine
Epoch =  7 / 606 ---- AD Russell
Epoch =  8 / 606 ---- MS Dhoni
Epoch =  9 / 606 ---- SMSM Senanayake
Epoch =  10 / 606 ---- Arshdeep Singh
Epoch =  11 / 606 ---- M Prasidh Krishna
Epoch =  12 / 606 ---- GHS Garton
Epoch =  13 / 606 ---- BB Samantray
Epoch =  14 / 606 ---- Ramandeep Singh
Epoch =  15 / 606 ---- KMA Paul
Epoch =  16 / 606 ---- OF Smith
Epoch =  17 / 606 ---- FY Fazal
Epoch =  18 / 606 ---- MK Pandey
Epoch =  19 / 606 ---- DE Bollinger
Epoch =  20 / 606 ---- DP Nannes
Epoch =  21 / 606 ---- M Kaif
Epoch =  22 / 606 ---- HV Patel
Epoch =  23 / 606 ---- UT Khawaja
Epoch =  24 / 606 ---- DJ Harris
Epoch =  25 / 606 ---- AS Yadav
Epoch =  26 / 606 ---- MA Starc
Epoch =  27 / 606 ---- JP Behrendorff
Epoch =  28 / 606 ---- MS Wade
Epoch =  29 / 606 ---- BW Hilfenhaus
Epoch =  30 / 606 ---- T Shamsi
Epoch =  31 / 606 ---- KP Appanna
Epoch =  32 / 606 ---- S Dhawan
Epoch =  33 / 606 ---- JR Philippe
Epoch =  34 / 606 ---- Swapnil Singh
Epoch =  35 / 606 ---- Washington Sundar
Epoch =  36 / 606 ---- NLTC Perera
Epoch =  37 / 606 ---- SE Bond
Epoch =  38 / 606 ---- CA Pujara
Epoch =  39 / 606 ---- S Midhun
Epoch =  40 / 606 ---- Lalit Yadav
Epoch =  41 / 606 ---- JR Hazlewood
Epoch =  42 / 606 ---- KH Pandya
Epoch =  43 / 606 ---- Mohammad Nabi
Epoch =  44 / 606 ---- DJ Hussey
Epoch =  45 / 606 ---- D Brevis
Epoch =  46 / 606 ---- Jaskaran Singh
Epoch =  47 / 606 ---- Yashpal Singh
Epoch =  48 / 606 ---- P Kumar
Epoch =  49 / 606 ---- MS Bisla
Epoch =  50 / 606 ---- HE van der Dussen
Epoch =  51 / 606 ---- MN Samuels
Epoch =  52 / 606 ---- AS Roy
Epoch =  53 / 606 ---- J Suchith
Epoch =  54 / 606 ---- O Thomas
Epoch =  55 / 606 ---- DS Kulkarni
Epoch =  56 / 606 ---- S Badree
Epoch =  57 / 606 ---- VRV Singh
Epoch =  58 / 606 ---- DG Nalkande
Epoch =  59 / 606 ---- LJ Wright
Epoch =  60 / 606 ---- KS Bharat
Epoch =  61 / 606 ---- P Dharmani
Epoch =  62 / 606 ---- Misbah-ul-Haq
Epoch =  63 / 606 ---- AK Markram
Epoch =  64 / 606 ---- JM Sharma
Epoch =  65 / 606 ---- HM Amla
Epoch =  66 / 606 ---- RR Powar
Epoch =  67 / 606 ---- KA Pollard
Epoch =  68 / 606 ---- A Choudhary
Epoch =  69 / 606 ---- Shahid Afridi
Epoch =  70 / 606 ---- S Nadeem
Epoch =  71 / 606 ---- Y Venugopal Rao
Epoch =  72 / 606 ---- GC Smith
Epoch =  73 / 606 ---- Anand Rajan
Epoch =  74 / 606 ---- RV Uthappa
Epoch =  75 / 606 ---- CJ Dala
Epoch =  76 / 606 ---- KB Arun Karthik
Epoch =  77 / 606 ---- R Parag
Epoch =  78 / 606 ---- KK Nair
Epoch =  79 / 606 ---- GB Hogg
Epoch =  80 / 606 ---- SK Trivedi
Epoch =  81 / 606 ---- DB Das
Epoch =  82 / 606 ---- SM Katich
Epoch =  83 / 606 ---- Kamran Khan
Epoch =  84 / 606 ---- KK Ahmed
Epoch =  85 / 606 ---- SR Tendulkar
Epoch =  86 / 606 ---- R Dhawan
Epoch =  87 / 606 ---- Mohsin Khan
Epoch =  88 / 606 ---- RD Chahar
Epoch =  89 / 606 ---- SA Yadav
Epoch =  90 / 606 ---- M Markande
Epoch =  91 / 606 ---- A Chandila
Epoch =  92 / 606 ---- Abhishek Sharma
Epoch =  93 / 606 ---- RE Levi
Epoch =  94 / 606 ---- D Pretorius
Epoch =  95 / 606 ---- DPMD Jayawardene
Epoch =  96 / 606 ---- SA Asnodkar
Epoch =  97 / 606 ---- BB Sran
Epoch =  98 / 606 ---- PP Shaw
Epoch =  99 / 606 ---- RN ten Doeschate
Epoch =  100 / 606 ---- BJ Haddin
Epoch =  101 / 606 ---- RR Raje
Epoch =  102 / 606 ---- M Manhas
Epoch =  103 / 606 ---- Ishan Kishan
Epoch =  104 / 606 ---- BE Hendricks
Epoch =  105 / 606 ---- T Thushara
Epoch =  106 / 606 ---- SS Iyer
Epoch =  107 / 606 ---- A Flintoff
Epoch =  108 / 606 ---- D Padikkal
Epoch =  109 / 606 ---- Jalaj S Saxena
Epoch =  110 / 606 ---- J Theron
Epoch =  111 / 606 ---- SP Goswami
Epoch =  112 / 606 ---- RJ Peterson
Epoch =  113 / 606 ---- Anureet Singh
Epoch =  114 / 606 ---- M Jansen
Epoch =  115 / 606 ---- T Natarajan
Epoch =  116 / 606 ---- KW Richardson
Epoch =  117 / 606 ---- SE Marsh
Epoch =  118 / 606 ---- PD Collingwood
Epoch =  119 / 606 ---- R Shukla
Epoch =  120 / 606 ---- Y Nagar
Epoch =  121 / 606 ---- Bipul Sharma
Epoch =  122 / 606 ---- HH Gibbs
Epoch =  123 / 606 ---- CL White
Epoch =  124 / 606 ---- JPR Scantlebury-Searles
Epoch =  125 / 606 ---- RT Ponting
Epoch =  126 / 606 ---- NM Coulter-Nile
Epoch =  127 / 606 ---- KV Sharma
Epoch =  128 / 606 ---- CJ Ferguson
Epoch =  129 / 606 ---- AM Salvi
Epoch =  130 / 606 ---- R Sai Kishore
Epoch =  131 / 606 ---- DA Miller
Epoch =  132 / 606 ---- SS Sarkar
Epoch =  133 / 606 ---- LR Shukla
Epoch =  134 / 606 ---- D Salunkhe
Epoch =  135 / 606 ---- MA Agarwal
Epoch =  136 / 606 ---- RS Sodhi
Epoch =  137 / 606 ---- MG Johnson
Epoch =  138 / 606 ---- TK Curran
Epoch =  139 / 606 ---- K Rabada
Epoch =  140 / 606 ---- VS Malik
Epoch =  141 / 606 ---- C Munro
Epoch =  142 / 606 ---- PBB Rajapaksa
Epoch =  143 / 606 ---- E Lewis
Epoch =  144 / 606 ---- MP Stoinis
Epoch =  145 / 606 ---- KP Pietersen
Epoch =  146 / 606 ---- Mohammad Asif
Epoch =  147 / 606 ---- JP Duminy
Epoch =  148 / 606 ---- TG Southee
Epoch =  149 / 606 ---- JDS Neesham
Epoch =  150 / 606 ---- MJ Guptill
Epoch =  151 / 606 ---- MJ Clarke
Epoch =  152 / 606 ---- IK Pathan
Epoch =  153 / 606 ---- IS Sodhi
Epoch =  154 / 606 ---- HF Gurney
Epoch =  155 / 606 ---- DJ Muthuswami
Epoch =  156 / 606 ---- CR Woakes
Epoch =  157 / 606 ---- A Uniyal
Epoch =  158 / 606 ---- C Nanda
Epoch =  159 / 606 ---- RV Gomez
Epoch =  160 / 606 ---- PVD Chameera
Epoch =  161 / 606 ---- M Klinger
Epoch =  162 / 606 ---- MR Marsh
Epoch =  163 / 606 ---- P Simran Singh
Epoch =  164 / 606 ---- Shivam Sharma
Epoch =  165 / 606 ---- AJ Tye
Epoch =  166 / 606 ---- AP Dole
Epoch =  167 / 606 ---- YA Abdulla
Epoch =  168 / 606 ---- TM Srivastava
Epoch =  169 / 606 ---- CM Gautam
Epoch =  170 / 606 ---- Harpreet Singh
Epoch =  171 / 606 ---- P Parameswaran
Epoch =  172 / 606 ---- RK Singh
Epoch =  173 / 606 ---- AT Rayudu
Epoch =  174 / 606 ---- KJ Abbott
Epoch =  175 / 606 ---- YV Takawale
Epoch =  176 / 606 ---- P Negi
Epoch =  177 / 606 ---- DH Yagnik
Epoch =  178 / 606 ---- VG Arora
Epoch =  179 / 606 ---- J Syed Mohammad
Epoch =  180 / 606 ---- R Shepherd
Epoch =  181 / 606 ---- SPD Smith
Epoch =  182 / 606 ---- SS Cottrell
Epoch =  183 / 606 ---- RM Patidar
Epoch =  184 / 606 ---- M Kartik
Epoch =  185 / 606 ---- DA Warner
Epoch =  186 / 606 ---- I Udana
Epoch =  187 / 606 ---- Shahbaz Ahmed
Epoch =  188 / 606 ---- GH Vihari
Epoch =  189 / 606 ---- S Anirudha
Epoch =  190 / 606 ---- DT Patil
Epoch =  191 / 606 ---- NV Ojha
Epoch =  192 / 606 ---- Mohammed Shami
Epoch =  193 / 606 ---- GJ Maxwell
Epoch =  194 / 606 ---- SK Warne
Epoch =  195 / 606 ---- WD Parnell
Epoch =  196 / 606 ---- B Sumanth
Epoch =  197 / 606 ---- GD Phillips
Epoch =  198 / 606 ---- MV Boucher
Epoch =  199 / 606 ---- S Ladda
Epoch =  200 / 606 ---- YK Pathan
Epoch =  201 / 606 ---- NT Ellis
Epoch =  202 / 606 ---- KM Jadhav
Epoch =  203 / 606 ---- R Dravid
Epoch =  204 / 606 ---- K Yadav
Epoch =  205 / 606 ---- LS Livingstone
Epoch =  206 / 606 ---- B Kumar
Epoch =  207 / 606 ---- AT Carey
Epoch =  208 / 606 ---- SB Jakati
Epoch =  209 / 606 ---- SB Bangar
Epoch =  210 / 606 ---- BA Bhatt
Epoch =  211 / 606 ---- PWH de Silva
Epoch =  212 / 606 ---- KAJ Roach
Epoch =  213 / 606 ---- AA Bilakhia
Epoch =  214 / 606 ---- PJ Cummins
Epoch =  215 / 606 ---- C de Grandhomme
Epoch =  216 / 606 ---- AG Murtaza
Epoch =  217 / 606 ---- AB de Villiers
Epoch =  218 / 606 ---- RV Pawar
Epoch =  219 / 606 ---- FA Allen
Epoch =  220 / 606 ---- Harbhajan Singh
Epoch =  221 / 606 ---- OC McCoy
Epoch =  222 / 606 ---- R Bishnoi
Epoch =  223 / 606 ---- DJ Willey
Epoch =  224 / 606 ---- Azhar Mahmood
Epoch =  225 / 606 ---- L Ngidi
Epoch =  226 / 606 ---- SM Boland
Epoch =  227 / 606 ---- P Amarnath
Epoch =  228 / 606 ---- JA Richardson
Epoch =  229 / 606 ---- SP Jackson
Epoch =  230 / 606 ---- PJ Sangwan
Epoch =  231 / 606 ---- ER Dwivedi
Epoch =  232 / 606 ---- AM Rahane
Epoch =  233 / 606 ---- NB Singh
Epoch =  234 / 606 ---- Shashank Singh
Epoch =  235 / 606 ---- KMDN Kulasekara
Epoch =  236 / 606 ---- M Vohra
Epoch =  237 / 606 ---- JW Hastings
Epoch =  238 / 606 ---- JDP Oram
Epoch =  239 / 606 ---- Shoaib Ahmed
Epoch =  240 / 606 ---- RD Gaikwad
Epoch =  241 / 606 ---- R Rampaul
Epoch =  242 / 606 ---- AB Agarkar
Epoch =  243 / 606 ---- Umar Gul
Epoch =  244 / 606 ---- P Chopra
Epoch =  245 / 606 ---- TL Suman
Epoch =  246 / 606 ---- TM Head
Epoch =  247 / 606 ---- PP Chawla
Epoch =  248 / 606 ---- DJG Sammy
Epoch =  249 / 606 ---- M Morkel
Epoch =  250 / 606 ---- Simarjeet Singh
Epoch =  251 / 606 ---- VY Mahesh
Epoch =  252 / 606 ---- GS Sandhu
Epoch =  253 / 606 ---- SE Rutherford
Epoch =  254 / 606 ---- S Kaushik
Epoch =  255 / 606 ---- KR Sen
Epoch =  256 / 606 ---- Avesh Khan
Epoch =  257 / 606 ---- S Aravind
Epoch =  258 / 606 ---- Rashid Khan
Epoch =  259 / 606 ---- K Khejroliya
Epoch =  260 / 606 ---- SS Shaikh
Epoch =  261 / 606 ---- TU Deshpande
Epoch =  262 / 606 ---- JD Ryder
Epoch =  263 / 606 ---- CK Langeveldt
Epoch =  264 / 606 ---- Harmeet Singh
Epoch =  265 / 606 ---- KD Karthik
Epoch =  266 / 606 ---- AS Joseph
Epoch =  267 / 606 ---- TH David
Epoch =  268 / 606 ---- C Madan
Epoch =  269 / 606 ---- BMAJ Mendis
Epoch =  270 / 606 ---- MF Maharoof
Epoch =  271 / 606 ---- DT Christian
Epoch =  272 / 606 ---- CRD Fernando
Epoch =  273 / 606 ---- LMP Simmons
Epoch =  274 / 606 ---- Sandeep Sharma
Epoch =  275 / 606 ---- A Nortje
Epoch =  276 / 606 ---- S Sohal
Epoch =  277 / 606 ---- D du Preez
Epoch =  278 / 606 ---- N Saini
Epoch =  279 / 606 ---- JD Unadkat
Epoch =  280 / 606 ---- PK Garg
Epoch =  281 / 606 ---- Abdul Samad
Epoch =  282 / 606 ---- Ravi Bishnoi
Epoch =  283 / 606 ---- R Bhatia
Epoch =  284 / 606 ---- A Nehra
Epoch =  285 / 606 ---- S Gopal
Epoch =  286 / 606 ---- N Rana
Epoch =  287 / 606 ---- LE Plunkett
Epoch =  288 / 606 ---- BJ Hodge
Epoch =  289 / 606 ---- DL Vettori
Epoch =  290 / 606 ---- S Rana
Epoch =  291 / 606 ---- NK Patel
Epoch =  292 / 606 ---- V Shankar
Epoch =  293 / 606 ---- SP Fleming
Epoch =  294 / 606 ---- OA Shah
Epoch =  295 / 606 ---- BR Dunk
Epoch =  296 / 606 ---- D Wiese
Epoch =  297 / 606 ---- MJ McClenaghan
Epoch =  298 / 606 ---- Mohammad Hafeez
Epoch =  299 / 606 ---- KC Sangakkara
Epoch =  300 / 606 ---- AB McDonald
Epoch =  301 / 606 ---- FH Edwards
Epoch =  302 / 606 ---- AD Nath
Epoch =  303 / 606 ---- AF Milne
Epoch =  304 / 606 ---- CA Lynn
Epoch =  305 / 606 ---- YBK Jaiswal
Epoch =  306 / 606 ---- SB Joshi
Epoch =  307 / 606 ---- LRPL Taylor
Epoch =  308 / 606 ---- Akash Deep
Epoch =  309 / 606 ---- M Theekshana
Epoch =  310 / 606 ---- GJ Bailey
Epoch =  311 / 606 ---- DJ Jacobs
Epoch =  312 / 606 ---- V Pratap Singh
Epoch =  313 / 606 ---- RA Jadeja
Epoch =  314 / 606 ---- AB Dinda
Epoch =  315 / 606 ---- TS Mills
Epoch =  316 / 606 ---- J Botha
Epoch =  317 / 606 ---- A Symonds
Epoch =  318 / 606 ---- B Geeves
Epoch =  319 / 606 ---- H Das
Epoch =  320 / 606 ---- A Manohar
Epoch =  321 / 606 ---- WA Mota
Epoch =  322 / 606 ---- J Yadav
Epoch =  323 / 606 ---- RP Meredith
Epoch =  324 / 606 ---- RA Bawa
Epoch =  325 / 606 ---- S Lamichhane
Epoch =  326 / 606 ---- Mustafizur Rahman
Epoch =  327 / 606 ---- AD Hales
Epoch =  328 / 606 ---- M Rawat
Epoch =  329 / 606 ---- TP Sudhindra
Epoch =  330 / 606 ---- MEK Hussey
Epoch =  331 / 606 ---- H Klaasen
Epoch =  332 / 606 ---- DR Sams
Epoch =  333 / 606 ---- M Vijay
Epoch =  334 / 606 ---- S Sandeep Warrier
Epoch =  335 / 606 ---- MM Ali
Epoch =  336 / 606 ---- EJG Morgan
Epoch =  337 / 606 ---- SC Kuggeleijn
Epoch =  338 / 606 ---- P Suyal
Epoch =  339 / 606 ---- SJ Srivastava
Epoch =  340 / 606 ---- AN Ghosh
Epoch =  341 / 606 ---- NJ Maddinson
Epoch =  342 / 606 ---- JH Kallis
Epoch =  343 / 606 ---- JA Morkel
Epoch =  344 / 606 ---- R Powell
Epoch =  345 / 606 ---- Parvez Rasool
Epoch =  346 / 606 ---- Anmolpreet Singh
Epoch =  347 / 606 ---- DJ Malan
Epoch =  348 / 606 ---- MA Khote
Epoch =  349 / 606 ---- SS Prabhudessai
Epoch =  350 / 606 ---- P Prasanth
Epoch =  351 / 606 ---- SK Raina
Epoch =  352 / 606 ---- SB Wagh
Epoch =  353 / 606 ---- P Dogra
Epoch =  354 / 606 ---- CA Ingram
Epoch =  355 / 606 ---- CV Varun
Epoch =  356 / 606 ---- VS Yeligati
Epoch =  357 / 606 ---- B Indrajith
Epoch =  358 / 606 ---- TL Seifert
Epoch =  359 / 606 ---- M Shahrukh Khan
Epoch =  360 / 606 ---- AB Barath
Epoch =  361 / 606 ---- SW Billings
Epoch =  362 / 606 ---- PR Shah
Epoch =  363 / 606 ---- MJ Santner
Epoch =  364 / 606 ---- DW Steyn
Epoch =  365 / 606 ---- AM Nayar
Epoch =  366 / 606 ---- Pankaj Singh
Epoch =  367 / 606 ---- Yuvraj Singh
Epoch =  368 / 606 ---- WP Saha
Epoch =  369 / 606 ---- Kamran Akmal
Epoch =  370 / 606 ---- Sohail Tanvir
Epoch =  371 / 606 ---- LH Ferguson
Epoch =  372 / 606 ---- DJM Short
Epoch =  373 / 606 ---- T Banton
Epoch =  374 / 606 ---- S Badrinath
Epoch =  375 / 606 ---- DJ Mitchell
Epoch =  376 / 606 ---- P Sahu
Epoch =  377 / 606 ---- SN Khan
Epoch =  378 / 606 ---- Kartik Tyagi
Epoch =  379 / 606 ---- JC Archer
Epoch =  380 / 606 ---- A Chopra
Epoch =  381 / 606 ---- BJ Rohrer
Epoch =  382 / 606 ---- HR Shokeen
Epoch =  383 / 606 ---- Salman Butt
Epoch =  384 / 606 ---- GD McGrath
Epoch =  385 / 606 ---- Anirudh Singh
Epoch =  386 / 606 ---- RS Bopara
Epoch =  387 / 606 ---- DR Smith
Epoch =  388 / 606 ---- L Balaji
Epoch =  389 / 606 ---- S Chanderpaul
Epoch =  390 / 606 ---- Y Prithvi Raj
Epoch =  391 / 606 ---- JJ Roy
Epoch =  392 / 606 ---- R McLaren
Epoch =  393 / 606 ---- JM Kemp
Epoch =  394 / 606 ---- AR Patel
Epoch =  395 / 606 ---- VR Iyer
Epoch =  396 / 606 ---- G Gambhir
Epoch =  397 / 606 ---- UA Birla
Epoch =  398 / 606 ---- AC Thomas
Epoch =  399 / 606 ---- AG Paunikar
Epoch =  400 / 606 ---- N Pooran
Epoch =  401 / 606 ---- Aman Hakim Khan
Epoch =  402 / 606 ---- Anuj Rawat
Epoch =  403 / 606 ---- Sachin Baby
Epoch =  404 / 606 ---- KL Rahul
Epoch =  405 / 606 ---- R Sharma
Epoch =  406 / 606 ---- A Mishra
Epoch =  407 / 606 ---- DP Vijaykumar
Epoch =  408 / 606 ---- L Ablish
Epoch =  409 / 606 ---- A Kumble
Epoch =  410 / 606 ---- AJ Turner
Epoch =  411 / 606 ---- DNT Zoysa
Epoch =  412 / 606 ---- AC Gilchrist
Epoch =  413 / 606 ---- AN Ahmed
Epoch =  414 / 606 ---- VH Zol
Epoch =  415 / 606 ---- Umran Malik
Epoch =  416 / 606 ---- Vishnu Vinod
Epoch =  417 / 606 ---- DP Conway
Epoch =  418 / 606 ---- ST Jayasuriya
Epoch =  419 / 606 ---- MD Mishra
Epoch =  420 / 606 ---- PC Valthaty
Epoch =  421 / 606 ---- Kuldeep Yadav
Epoch =  422 / 606 ---- N Jagadeesan
Epoch =  423 / 606 ---- Navdeep Saini
Epoch =  424 / 606 ---- KS Williamson
Epoch =  425 / 606 ---- A Zampa
Epoch =  426 / 606 ---- JO Holder
Epoch =  427 / 606 ---- M Muralitharan
Epoch =  428 / 606 ---- ND Doshi
Epoch =  429 / 606 ---- LA Pomersbach
Epoch =  430 / 606 ---- B Stanlake
Epoch =  431 / 606 ---- R Tewatia
Epoch =  432 / 606 ---- Harshit Rana
Epoch =  433 / 606 ---- CK Kapugedera
Epoch =  434 / 606 ---- SN Thakur
Epoch =  435 / 606 ---- CJ Jordan
Epoch =  436 / 606 ---- MJ Henry
Epoch =  437 / 606 ---- AP Tare
Epoch =  438 / 606 ---- TA Boult
Epoch =  439 / 606 ---- JP Faulkner
Epoch =  440 / 606 ---- B Akhil
Epoch =  441 / 606 ---- V Sehwag
Epoch =  442 / 606 ---- B Chipli
Epoch =  443 / 606 ---- SV Samson
Epoch =  444 / 606 ---- NS Naik
Epoch =  445 / 606 ---- R Sathish
Epoch =  446 / 606 ---- ML Hayden
Epoch =  447 / 606 ---- SW Tait
Epoch =  448 / 606 ---- SB Styris
Epoch =  449 / 606 ---- LPC Silva
Epoch =  450 / 606 ---- PA Reddy
Epoch =  451 / 606 ---- K Upadhyay
Epoch =  452 / 606 ---- A Dananjaya
Epoch =  453 / 606 ---- I Malhotra
Epoch =  454 / 606 ---- B Sai Sudharsan
Epoch =  455 / 606 ---- MG Neser
Epoch =  456 / 606 ---- VR Aaron
Epoch =  457 / 606 ---- JE Taylor
Epoch =  458 / 606 ---- A Badoni
Epoch =  459 / 606 ---- MC Juneja
Epoch =  460 / 606 ---- AA Chavan
Epoch =  461 / 606 ---- DS Lehmann
Epoch =  462 / 606 ---- MM Patel
Epoch =  463 / 606 ---- Shivam Mavi
Epoch =  464 / 606 ---- RG Sharma
Epoch =  465 / 606 ---- BAW Mendis
Epoch =  466 / 606 ---- AP Majumdar
Epoch =  467 / 606 ---- SL Malinga
Epoch =  468 / 606 ---- MK Tiwary
Epoch =  469 / 606 ---- S Vidyut
Epoch =  470 / 606 ---- S Sreesanth
Epoch =  471 / 606 ---- GC Viljoen
Epoch =  472 / 606 ---- S Tyagi
Epoch =  473 / 606 ---- MC Henriques
Epoch =  474 / 606 ---- L Ronchi
Epoch =  475 / 606 ---- T Taibu
Epoch =  476 / 606 ---- SM Pollock
Epoch =  477 / 606 ---- AA Jhunjhunwala
Epoch =  478 / 606 ---- AA Noffke
Epoch =  479 / 606 ---- F du Plessis
Epoch =  480 / 606 ---- A Mithun
Epoch =  481 / 606 ---- C Ganapathy
Epoch =  482 / 606 ---- DJ Hooda
Epoch =  483 / 606 ---- K Goel
Epoch =  484 / 606 ---- CH Morris
Epoch =  485 / 606 ---- RR Rossouw
Epoch =  486 / 606 ---- AD Mathews
Epoch =  487 / 606 ---- SS Tiwary
Epoch =  488 / 606 ---- PA Patel
Epoch =  489 / 606 ---- IR Jaggi
Epoch =  490 / 606 ---- S Randiv
Epoch =  491 / 606 ---- M de Lange
Epoch =  492 / 606 ---- Karanveer Singh
Epoch =  493 / 606 ---- Iqbal Abdulla
Epoch =  494 / 606 ---- PP Ojha
Epoch =  495 / 606 ---- IC Pandey
Epoch =  496 / 606 ---- DJ Thornely
Epoch =  497 / 606 ---- RE van der Merwe
Epoch =  498 / 606 ---- MM Sharma
Epoch =  499 / 606 ---- Imran Tahir
Epoch =  500 / 606 ---- K Gowtham
Epoch =  501 / 606 ---- B Lee
Epoch =  502 / 606 ---- Ankit Sharma
Epoch =  503 / 606 ---- Gagandeep Singh
Epoch =  504 / 606 ---- JJ Bumrah
Epoch =  505 / 606 ---- U Kaul
Epoch =  506 / 606 ---- Shoaib Akhtar
Epoch =  507 / 606 ---- Y Gnaneswara Rao
Epoch =  508 / 606 ---- PSP Handscomb
Epoch =  509 / 606 ---- SM Curran
Epoch =  510 / 606 ---- S Sriram
Epoch =  511 / 606 ---- KA Jamieson
Epoch =  512 / 606 ---- I Sharma
Epoch =  513 / 606 ---- STR Binny
Epoch =  514 / 606 ---- F Behardien
Epoch =  515 / 606 ---- JM Bairstow
Epoch =  516 / 606 ---- RR Pant
Epoch =  517 / 606 ---- Ankit Soni
Epoch =  518 / 606 ---- AUK Pathan
Epoch =  519 / 606 ---- HH Pandya
Epoch =  520 / 606 ---- PH Solanki
Epoch =  521 / 606 ---- T Kohli
Epoch =  522 / 606 ---- BCJ Cutting
Epoch =  523 / 606 ---- TR Birt
Epoch =  524 / 606 ---- AC Voges
Epoch =  525 / 606 ---- P Awana
Epoch =  526 / 606 ---- S Kaul
Epoch =  527 / 606 ---- KM Asif
Epoch =  528 / 606 ---- SO Hetmyer
Epoch =  529 / 606 ---- K Kartikeya
Epoch =  530 / 606 ---- JL Pattinson
Epoch =  531 / 606 ---- KK Cooper
Epoch =  532 / 606 ---- Mujeeb Ur Rahman
Epoch =  533 / 606 ---- TM Dilshan
Epoch =  534 / 606 ---- Gurkeerat Singh
Epoch =  535 / 606 ---- S Dube
Epoch =  536 / 606 ---- BA Stokes
Epoch =  537 / 606 ---- CH Gayle
Epoch =  538 / 606 ---- AS Rajpoot
Epoch =  539 / 606 ---- VVS Laxman
Epoch =  540 / 606 ---- R Ashwin
Epoch =  541 / 606 ---- RA Tripathi
Epoch =  542 / 606 ---- UT Yadav
Epoch =  543 / 606 ---- KC Cariappa
Epoch =  544 / 606 ---- CJ Green
Epoch =  545 / 606 ---- DJ Bravo
Epoch =  546 / 606 ---- Yash Dayal
Epoch =  547 / 606 ---- CR Brathwaite
Epoch =  548 / 606 ---- Sunny Singh
Epoch =  549 / 606 ---- Q de Kock
Epoch =  550 / 606 ---- MN van Wyk
Epoch =  551 / 606 ---- AD Mascarenhas
Epoch =  552 / 606 ---- RP Singh
Epoch =  553 / 606 ---- Tilak Varma
Epoch =  554 / 606 ---- MJ Lumb
Epoch =  555 / 606 ---- MS Gony
Epoch =  556 / 606 ---- P Dubey
Epoch =  557 / 606 ---- KL Nagarkoti
Epoch =  558 / 606 ---- Mukesh Choudhary
Epoch =  559 / 606 ---- M Pathirana
Epoch =  560 / 606 ---- SC Ganguly
Epoch =  561 / 606 ---- Fazalhaq Farooqi
Epoch =  562 / 606 ---- Sunny Gupta
Epoch =  563 / 606 ---- Shubman Gill
Epoch =  564 / 606 ---- S Narwal
Epoch =  565 / 606 ---- BB McCullum
Epoch =  566 / 606 ---- DB Ravi Teja
Epoch =  567 / 606 ---- SA Abbott
Epoch =  568 / 606 ---- PV Tambe
Epoch =  569 / 606 ---- MK Lomror
Epoch =  570 / 606 ---- A Ashish Reddy
Epoch =  571 / 606 ---- M Ntini
Epoch =  572 / 606 ---- SD Chitnis
Epoch =  573 / 606 ---- B Laughlin
Epoch =  574 / 606 ---- A Mukund
Epoch =  575 / 606 ---- Basil Thampi
Epoch =  576 / 606 ---- AJ Finch
Epoch =  577 / 606 ---- Z Khan

In [13]:
combined_df_batting

,Name,Matches,Innings,Runs,Balls,Average,Strike Rate,Not Outs
0,JC Buttler,82,81,2832,1893,39.33,149.60,9
1,R Vinay Kumar,104,46,310,274,11.07,113.14,18
2,AC Blizzard,7,7,120,90,17.14,133.33,0
3,RS Gavaskar,2,1,2,8,2.00,25.00,0
4,Mohammed Siraj,65,20,96,109,13.71,88.07,13
...,...,...,...,...,...,...,...,...
601,RR Sarwan,4,4,73,75,18.25,97.33,0
602,RV Patel,4,3,31,30,15.50,103.33,1
603,AL Menaria,29,23,401,356,19.10,112.64,2
604,JL Denly,1,1,0,1,0.00,0.00,0
605,W Jaffer,8,8,130,121,16.25,107.44,0

In [14]:
combined_df_bowling

,Name,Matches,Innings,Runs,Wickets,Economy,Balls,Strike Rate,Average
0,JC Buttler,82,0,0,0,NaN,0,NaN,NaN
1,R Vinay Kumar,104,104,2986,105,8.42,2127,20.26,28.44
2,AC Blizzard,7,0,0,0,NaN,0,NaN,NaN
3,RS Gavaskar,2,1,8,0,8.00,6,NaN,NaN
4,Mohammed Siraj,65,65,1951,60,8.78,1334,22.23,32.52
...,...,...,...,...,...,...,...,...,...
601,RR Sarwan,4,0,0,0,NaN,0,NaN,NaN
602,RV Patel,4,1,22,0,7.33,18,NaN,NaN
603,AL Menaria,29,12,144,3,7.85,110,36.67,48.00
604,JL Denly,1,0,0,0,NaN,0,NaN,NaN
605,W Jaffer,8,0,0,0,NaN,0,NaN,NaN

In [15]:
import sqlite3


conn = sqlite3.connect('./ipl_database.db')

# Write the DataFrame to a SQL database
combined_df_batting.to_sql('ipl_batter_list', conn, index=False, if_exists='replace')
combined_df_bowling.to_sql('ipl_bowler_list', conn, index=False, if_exists='replace')

# Close the connection
conn.close()

In [17]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('./ipl_database.db')

# Read the combined_df_batting table from the database
combined_df_batting = pd.read_sql_query("SELECT * FROM ipl_batter_list WHERE Balls >= 60 ORDER BY Average DESC", conn)

# Close the connection
conn.close()

# Display the DataFrame
print(combined_df_batting)

              Name  Matches  Innings  Runs  Balls  Average  Strike Rate
0       MN van Wyk        5        5   167    132    55.67       126.52  \
1         KL Rahul      109      100  3895   2861    46.93       136.14
2         AC Voges        9        7   181    143    45.25       126.57
3          HM Amla       16       16   577    407    44.38       141.77
4    Iqbal Abdulla       49       13    88     84    44.00       104.76
..             ...      ...      ...   ...    ...      ...          ...
314     SL Malinga      122       25    88     99     5.50        88.89
315      YS Chahal      131       20    37     86     5.29        43.02
316       R Sharma       60       20    66     75     4.71        88.00
317       RP Singh       82       30    52     76     3.47        68.42
318       S Nadeem       72       22    39     87     2.79        44.83

     Not Outs
0           2
1          17
2           3
3           3
4          11
..        ...
314         9
315        13
316         6
317        15
318         8

[319 rows x 8 columns]

In [51]:
import sqlite3
import pandas as pd

def innings_by_innings_list_match_list_details(id_list):
    Date = []
    Venue = []
    Season = []
    MatchNumber = []
    City = []
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()
    for ID in id_list:
        query = '''
        SELECT 
            Date, Venue, Season, MatchNumber, City   
        FROM 
            ipl_match_list
        WHERE 
            ID = ?
        GROUP BY 
            ID;
        '''
        cursor.execute(query, (ID,))
        x = cursor.fetchall()[0]
        Date.append(x[0])
        Venue.append(x[1])
        Season.append(x[2])
        MatchNumber.append(x[3])
        City.append(x[4])
        
   

    conn.close()

    return Date, Venue, Season, MatchNumber, City

def innings_by_innings_list_batting(name, id_list):
    batter,	Runs_Scored, Balls_Faced, Four_Count, Six_Count, Out, Dismissal_Type, fielders_involved, Bowler = [], [], [], [], [], [], [], [], []

    batter_dict = {}
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()
    for ID in id_list:
        query = '''
        SELECT 
            batter AS Name,
            SUM(batsman_run) AS Runs_Scored,
            COUNT(CASE WHEN extra_type IS NULL OR extra_type = 'byes' OR extra_type = 'legbyes' OR extra_type = 'noballs' THEN 1 ELSE NULL END) AS Balls_Faced,
            SUM(CASE WHEN batsman_run = 4 THEN 1 ELSE 0 END) AS Four_Count,
            SUM(CASE WHEN batsman_run = 6 THEN 1 ELSE 0 END) AS Six_Count,
            COUNT(CASE WHEN isWicketDelivery = 1 THEN 1 ELSE NULL END) AS Out,
            MAX(CASE WHEN isWicketDelivery = 1 THEN kind ELSE NULL END) AS Dismissal_Type,
            MAX(CASE WHEN isWicketDelivery = 1 THEN fielders_involved ELSE NULL END) AS fielders_involved,
            MAX(CASE WHEN isWicketDelivery = 1 AND kind <> 'run out' THEN bowler ELSE NULL END) AS Bowler
            
        FROM 
            ipl_ball_by_ball
        WHERE 
            batter = ? AND ID = ?
        GROUP BY 
            batter;
        '''
        cursor.execute(query, (name, ID))
        x = cursor.fetchall()[0]
        if x:
            batter.append(x[0])
            Runs_Scored.append(x[1])
            Balls_Faced.append(x[2])
            Four_Count.append(x[3])
            Six_Count.append(x[4])
            Out.append(x[5])
            Dismissal_Type.append(x[6])
            fielders_involved.append(x[7])
            Bowler.append(x[8])
        else:
            batter.append(None)
            Runs_Scored.append(None)
            Balls_Faced.append(None)
            Four_Count.append(None)
            Six_Count.append(None)
            Out.append(None)
            Dismissal_Type.append(None)
            fielders_involved.append(None)
            Bowler.append(None)
    
    Date, Venue, Season, MatchNumber, City = innings_by_innings_list_match_list_details(id_list)
    batter_dict["Date"] = Date
    batter_dict["MatchNumber"] = MatchNumber
    batter_dict["Season"] = Season
    batter_dict["batter"] = batter
    batter_dict["Runs_Scored"] = Runs_Scored
    batter_dict["Balls_Faced"] = Balls_Faced
    batter_dict["Four_Count"] = Four_Count
    batter_dict["Six_Count"] = Six_Count
    batter_dict["Out"] = Out
    batter_dict["Dismissal_Type"] = Dismissal_Type
    batter_dict["fielders_involved"] = fielders_involved
    batter_dict["Bowler"] = Bowler
    batter_dict["Venue"] = Venue
    batter_dict["City"] = City
    batter_dict["ID"] = id_list
    
    conn.close()
    df = pd.DataFrame(batter_dict)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date', ascending=True)
    return df

innings_by_innings_list_batting("Shubman Gill", [1254117, 1304103])

,Date,MatchNumber,Season,batter,Runs_Scored,Balls_Faced,Four_Count,Six_Count,Out,Dismissal_Type,fielders_involved,Bowler,Venue,City,ID
0,2021-10-15,Final,2021,Shubman Gill,51,43,6,0,1,lbw,None,DL Chahar,Dubai International Cricket Stadium,Dubai,1254117
1,2022-05-10,57,2022,Shubman Gill,63,49,7,0,0,None,None,None,Maharashtra Cricket Association Stadium,Pune,1304103

In [1]:
id_list = [1216536, 1216533, 1216509, 1216528, 1216525, 1216501, 1216513, 1216516, 1216539, 1216496, 1216492, 1181768, 1181767, 1181764, 1178430, 1178425, 1178419, 1178416, 1178414, 1178408, 1178404, 1178400, 1178398, 1178393, 1175370, 1175367, 1175360, 1175356, 1136620, 1136617, 1136612, 1136606, 1136603, 1136595, 1136593, 1136590, 1136587, 1136584, 1136580, 1136577, 1136572, 1136565, 1136561, 1082646, 1082633, 1082628, 1082610, 1082607, 1082598, 1082595, 1082591, 981019, 981013, 981011, 980999, 980995, 980987, 980981, 980977, 980969, 980959, 980953, 980937, 980931, 980927, 980921, 980907, 829819, 829811, 829797, 829787, 829777, 829769, 829763, 829749, 829741, 829735, 734041, 734033, 734017, 734003, 733999, 733989, 733979, 733975, 729315, 729305, 729297, 729291, 729285, 598072, 598071, 598065, 598063, 598058, 598052, 598049, 598047, 598043, 598036, 598032, 598026, 598023, 598019, 598014, 598005, 548377, 548373, 548365, 548361, 548358, 548354, 548349, 501263, 501258, 501252, 501249, 501240, 501235, 501231, 501225, 501220, 501214, 501209, 419158, 419154, 419150, 419143, 419141, 419137, 336040, 336038, 336019, 336036, 336027, 336023, 336015, 336011, 336008, 336005, 336000, 335992, 335990, 335987, 335984]

In [2]:
team1_list = ['Royal Challengers Bangalore', 'Rajasthan Royals', 'Chennai Super Kings']
team2_list = ['Sunrisers Hyderabad', 'Rising Pune Supergiant', 'Rajasthan Royals', 'Delhi Daredevils', 'Rising Pune Supergiants', 'Delhi Capitals', 'Gujarat Lions', 'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Deccan Chargers', 'Chennai Super Kings', 'Kolkata Knight Riders', 'Mumbai Indians', 'Pune Warriors', 'Royal Challengers Bangalore']

In [3]:
name = "SR Watson"

In [4]:
venue = ["M.Chinnaswamy Stadium", "Sawai Mansingh Stadium", "MA Chidambaram Stadium"]

In [13]:
import sqlite3
import pandas as pd
def select_matches_home(player_name, id_list, teamfor_list, teamagainst_list, venue):

    # Connect to the database
    conn = sqlite3.connect('./ipl_database.db')
    
    # Format teamfor_list_str for the query
    teamfor_list_str = ', '.join([f'"{team}"' for team in teamfor_list])

    # Format teamagainst_list_str for the query
    teamagainst_list_str = ', '.join([f'"{team}"' for team in teamagainst_list])

    # Format id_list_str for the query
    id_list_str = ', '.join([str(id) for id in id_list])
    print(type(teamfor_list_str))
    print(type(teamagainst_list_str))
    print(type(id_list_str))   

    # SQL query
    query = f'''
    SELECT m.ID, 
    CASE 
        WHEN p1 LIKE '%' || ? || '%' THEN Team1 
        WHEN p2 LIKE '%' || ? || '%' THEN Team2 
    END AS PlayerTeam,
    CASE 
        WHEN p1 LIKE '%' || ? || '%' THEN Team2 
        WHEN p2 LIKE '%' || ? || '%' THEN Team1 
    END AS OpponentTeam,
    v.City, 
    m.Date
    FROM ipl_match_list m
    JOIN ipl_venue_list v ON m.Venue = v.Venue
    CROSS JOIN (SELECT ? AS p1, ? AS p2) AS params
    WHERE (Team1Players LIKE '%' || ? || '%' OR Team2Players LIKE '%' || ? || '%')
    AND v.Teams LIKE '%' || ? || '%';
    '''

    # Fetch results into DataFrame
    df = pd.read_sql_query(query, conn, params=('%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', teamfor_list_str, teamagainst_list_str, id_list_str, '%' + venue + '%'))

    # Close the connection
    conn.close()

    return df

In [14]:
select_matches_home(name, id_list, team1_list, team2_list, venue)

<class 'str'>
<class 'str'>
<class 'str'>

TypeError: can only concatenate str (not "list") to str

In [18]:
import sqlite3
import pandas as pd
def select_matches_away(player_name, id_list, teamfor_list, teamagainst_list, venue):

    # Connect to the database
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # Format teamfor_list for the query
    teamfor_list_str = ', '.join([f'"{team}"' for team in teamfor_list])
    teamagainst_list_str = ', '.join([f'"{team}"' for team in teamagainst_list])
    id_list_str = ', '.join([str(id) for id in id_list])
    # SQL query
    query = f'''
    SELECT m.ID, m.Venue, 
            CASE WHEN m.Team1Players NOT LIKE ? THEN m.Team1 ELSE m.Team2 END AS Team
    FROM ipl_match_list m
    JOIN ipl_venue_list v ON m.Venue = v.Venue
    WHERE (m.Team1Players NOT LIKE ? 
    AND m.Team1 IN ({teamagainst_list_str})
    AND v.Teams LIKE '%' || m.Team1 || '%')
    OR
    (m.Team2Players NOT LIKE ? 
    AND m.Team2 IN ({teamagainst_list_str})
    AND v.Teams LIKE '%' || m.Team2 || '%')
    AND m.ID IN ({id_list_str})
    '''

    # Fetch results into DataFrame
    df = pd.read_sql_query(query, conn, params=('%' + player_name + '%', '%' + player_name + '%'))

    # Close the connection
    conn.close()

    return df

In [19]:
select_matches_away(name, id_list, team1_list, team2_list, venue)

DatabaseError: Execution failed on sql '
    SELECT m.ID, m.Venue,
            CASE WHEN m.Team1Players NOT LIKE ? THEN m.Team1 ELSE m.Team2 END AS Team
    FROM ipl_match_list m
    JOIN ipl_venue_list v ON m.Venue = v.Venue
    WHERE (m.Team1Players NOT LIKE ?
    AND m.Team1 IN ("Sunrisers Hyderabad", "Rising Pune Supergiant", "Rajasthan Royals", "Delhi Daredevils", "Rising Pune Supergiants", "Delhi Capitals", "Gujarat Lions", "Kings XI Punjab", "Kochi Tuskers Kerala", "Deccan Chargers", "Chennai Super Kings", "Kolkata Knight Riders", "Mumbai Indians", "Pune Warriors", "Royal Challengers Bangalore")
    AND v.Teams LIKE '%' || m.Team1 || '%')
    OR
    (m.Team2Players NOT LIKE ?
    AND m.Team2 IN ("Sunrisers Hyderabad", "Rising Pune Supergiant", "Rajasthan Royals", "Delhi Daredevils", "Rising Pune Supergiants", "Delhi Capitals", "Gujarat Lions", "Kings XI Punjab", "Kochi Tuskers Kerala", "Deccan Chargers", "Chennai Super Kings", "Kolkata Knight Riders", "Mumbai Indians", "Pune Warriors", "Royal Challengers Bangalore")
    AND v.Teams LIKE '%' || m.Team2 || '%')
    AND m.ID IN (1216536, 1216533, 1216509, 1216528, 1216525, 1216501, 1216513, 1216516, 1216539, 1216496, 1216492, 1181768, 1181767, 1181764, 1178430, 1178425, 1178419, 1178416, 1178414, 1178408, 1178404, 1178400, 1178398, 1178393, 1175370, 1175367, 1175360, 1175356, 1136620, 1136617, 1136612, 1136606, 1136603, 1136595, 1136593, 1136590, 1136587, 1136584, 1136580, 1136577, 1136572, 1136565, 1136561, 1082646, 1082633, 1082628, 1082610, 1082607, 1082598, 1082595, 1082591, 981019, 981013, 981011, 980999, 980995, 980987, 980981, 980977, 980969, 980959, 980953, 980937, 980931, 980927, 980921, 980907, 829819, 829811, 829797, 829787, 829777, 829769, 829763, 829749, 829741, 829735, 734041, 734033, 734017, 734003, 733999, 733989, 733979, 733975, 729315, 729305, 729297, 729291, 729285, 598072, 598071, 598065, 598063, 598058, 598052, 598049, 598047, 598043, 598036, 598032, 598026, 598023, 598019, 598014, 598005, 548377, 548373, 548365, 548361, 548358, 548354, 548349, 501263, 501258, 501252, 501249, 501240, 501235, 501231, 501225, 501220, 501214, 501209, 419158, 419154, 419150, 419143, 419141, 419137, 336040, 336038, 336019, 336036, 336027, 336023, 336015, 336011, 336008, 336005, 336000, 335992, 335990, 335987, 335984)
    ': Incorrect number of bindings supplied. The current statement uses 3, and there are 2 supplied.