In [1]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('./ipl_database.db')

# Create a cursor object
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Iterate over the table names
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    sql_query = 'SELECT * FROM '+ table_name+';'
    df = pd.read_sql_query(sql_query, conn)
    xlsx_file_path = "C:/Users/anubr/Python Projects/IPL/assets_xls/"

    # Convert the DataFrame to a excel file
    df.to_excel(xlsx_file_path+table_name+".xlsx", index=False)

    # Print a message indicating the conversion is complete
    print(f"DataFrame has been successfully converted to CSV file: {xlsx_file_path+table_name}.xls")

    
conn.close()

Table: ipl_ball_by_ball
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_ball_by_ball.xls
Table: ipl_venue_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_list.xls
Table: ipl_venue_innings_1
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_innings_1.xls
Table: ipl_venue_innings_2
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_venue_innings_2.xls
Table: ipl_match_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_match_list.xls
Table: ipl_player_list
DataFrame has been successfully converted to CSV file: C:/Users/anubr/Python Projects/IPL/assets_xls/ipl_player_list.xls

In [11]:
import sqlite3
import data_manipulation
def get_batting_positions_id_innings(match_id, innings):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # SQL query to fetch all unique batters in the specified match ID and innings
    query = '''
    SELECT DISTINCT batter
    FROM ipl_ball_by_ball
    WHERE ID = ? AND innings = ?
    ORDER BY overs, ballnumber
    '''

    cursor.execute(query, (match_id, innings))
    batting_positions = [row[0] for row in cursor.fetchall()]

    conn.close()
    return batting_positions

def get_all_players(match_id):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # Retrieve the team players from the ipl_match_list table for the given match ID
    cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
    team_players = cursor.fetchone()

    conn.close()

    if team_players:
        # Split the string to get the list of players for both teams
        team1_players = team_players[0][1:-1].split(", ")
        team2_players = team_players[1][1:-1].split(", ")
        all_players = team1_players + team2_players
        return all_players
    else:
        print("No match found for the given ID.")
        return None

def get_remaining_players(match_id, innings):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    # Retrieve toss information to determine which team is batting first
    cursor.execute("SELECT TossWinner, TossDecision FROM ipl_match_list WHERE ID = ?;", (match_id,))
    toss_data = cursor.fetchone()
    team1, team2 = None, None
    if toss_data:
        toss_winner, toss_decision = toss_data

        # Determine the team batting first based on toss decision
        if toss_decision.lower() == 'bat':
            batting_team = toss_winner
        else:
            # If the decision is to field, the other team is batting first
            cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
            teams_data = cursor.fetchone()
            team1, team2 = teams_data
            batting_team = team1 if toss_winner == team2 else team2

        # Retrieve the players' names from the ipl_match_list table for the batting team
        cursor.execute("SELECT Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (match_id,))
        players_data = cursor.fetchone()

        conn.close()

        if players_data:
            team1_players_str = players_data[0] if batting_team == team1 else players_data[1]
            team2_players_str = players_data[1] if batting_team == team2 else players_data[0]

            # Convert the string format to a list of player names
            batting_team_players = eval(team1_players_str) if batting_team == team1 else eval(team2_players_str)

            # Get the batters who batted
            batters_list = data_manipulation.get_batting_positions_id_innings(match_id, innings)

            # Remove the batters who batted from the list of all players in the batting team
            remaining_players = [player for player in batting_team_players if player not in batters_list]

            return remaining_players
        else:
            print("No match found for the given ID.")
            return None
    else:
        print("No toss information found for the given ID.")
        return None

# Example usage:
match_id = 1312200
innings = 2
remaining_players = get_remaining_players(match_id, innings)
print("Remaining Players:", remaining_players)
print(len(remaining_players))

# Example usage:
match_id = 1312200
innings = 1
remaining_players = get_remaining_players(match_id, innings)
print("Remaining Players:", remaining_players)

Remaining Players: ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']
11
Remaining Players: ['M Prasidh Krishna', 'YS Chahal']

In [59]:
import sqlite3
import ast
import data_manipulation

def remaining_players(ID, innings, batting_list):
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()

    cursor.execute("SELECT TossWinner, TossDecision, Team1, Team2, Team1Players, Team2Players FROM ipl_match_list WHERE ID = ?;", (ID,))
    toss_info = cursor.fetchone()
    
    if toss_info:
        TossWinner, TossDecision, Team1, Team2, Team1Players_str, Team2Players_str = toss_info
        
        Team1Players = ast.literal_eval(Team1Players_str)
        Team2Players = ast.literal_eval(Team2Players_str)

        batting_team_players = Team1Players if TossWinner == Team1 else Team2Players

        if innings == 1:
            if TossDecision == "bat":
                remaining_players_list = [player for player in batting_team_players if player not in batting_list]
            else:
                remaining_players_list = [player for player in batting_team_players]
        else:  # innings == 2
            if TossDecision == "bat":
                remaining_players_list = [player for player in batting_team_players]
            else:
                remaining_players_list = [player for player in batting_team_players if player not in batting_list]

        conn.close()
        return remaining_players_list
    else:
        conn.close()
        return []

ID = 1312199
innings = 1
batters_list = data_manipulation.get_batting_positions_id_innings(ID, innings)
remaining_players(ID, innings, batters_list)

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Parag',
 'R Ashwin',
 'TA Boult',
 'YS Chahal',
 'M Prasidh Krishna',
 'OC McCoy']

In [1]:
import search_results as sr
search_dict = sr.extract_elements()

In [2]:
search_dict

{'Players': ['NV Ojha',
  'SM Boland',
  'MA Khote',
  'R Dravid',
  'Yash Dayal',
  'Aman Hakim Khan',
  'JP Faulkner',
  'DJ Harris',
  'AJ Finch',
  'S Gopal',
  'L Balaji',
  'IR Jaggi',
  'AT Rayudu',
  'Anirudh Singh',
  'SS Shaikh',
  'Umran Malik',
  'Shahbaz Ahmed',
  'Kartik Tyagi',
  'SB Wagh',
  'DA Miller',
  'YK Pathan',
  'YA Abdulla',
  'Iqbal Abdulla',
  'W Jaffer',
  'PP Ojha',
  'JPR Scantlebury-Searles',
  'KK Cooper',
  'R Shukla',
  'A Mithun',
  'SM Pollock',
  'AD Mascarenhas',
  'Jaskaran Singh',
  'PA Reddy',
  'AB Barath',
  'ND Doshi',
  'KAJ Roach',
  'D Wiese',
  'JJ Roy',
  'Yashpal Singh',
  'BA Stokes',
  'AS Rajpoot',
  'DJ Malan',
  'R Sathish',
  'CRD Fernando',
  'AM Salvi',
  'M Shahrukh Khan',
  'Gagandeep Singh',
  'A Dananjaya',
  'SP Narine',
  'L Ronchi',
  'DJG Sammy',
  'RV Pawar',
  'MN Samuels',
  'Imran Tahir',
  'Shoaib Akhtar',
  'M Kartik',
  'UT Khawaja',
  'Tilak Varma',
  'RP Meredith',
  'Shakib Al Hasan',
  'Sandeep Sharma',
  'DS Lehmann',
  'VY Mahesh',
  'JH Kallis',
  'S Midhun',
  'B Sai Sudharsan',
  'DT Patil',
  'WA Mota',
  'SV Samson',
  'JEC Franklin',
  'P Dharmani',
  'DJ Thornely',
  'RE Levi',
  'Salman Butt',
  'R Rampaul',
  'CL White',
  'AP Dole',
  'AD Mathews',
  'SA Asnodkar',
  'SR Watson',
  'AF Milne',
  'R Bhatia',
  'MG Johnson',
  'KC Cariappa',
  'H Das',
  'JP Behrendorff',
  'Ishan Kishan',
  'Parvez Rasool',
  'Sunny Gupta',
  'P Dogra',
  'PSP Handscomb',
  'MM Ali',
  'Jalaj S Saxena',
  'PM Sarvesh Kumar',
  'DNT Zoysa',
  'RR Pant',
  'Shoaib Malik',
  'RA Tripathi',
  'Anureet Singh',
  'H Klaasen',
  'KM Jadhav',
  'KA Pollard',
  'DJ Mitchell',
  'B Chipli',
  'MV Boucher',
  'C de Grandhomme',
  'KJ Abbott',
  'Sachin Baby',
  'AP Majumdar',
  'K Upadhyay',
  'OC McCoy',
  'JM Bairstow',
  'KMA Paul',
  'BW Hilfenhaus',
  'CJ Ferguson',
  'SK Raina',
  'MK Pandey',
  'M Morkel',
  'FH Edwards',
  'DS Kulkarni',
  'J Yadav',
  'K Kartikeya',
  'SP Jackson',
  'SE Bond',
  'MC Juneja',
  'AG Murtaza',
  'Q de Kock',
  'RE van der Merwe',
  'U Kaul',
  'M Rawat',
  'A Chopra',
  'M Vohra',
  'BAW Mendis',
  'VRV Singh',
  'LPC Silva',
  'AR Patel',
  'KL Nagarkoti',
  'A Mishra',
  'ML Hayden',
  'N Rana',
  'N Saini',
  'YS Chahal',
  'I Malhotra',
  'JC Archer',
  'Shashank Singh',
  'CK Kapugedera',
  'M Ashwin',
  'DA Warner',
  'BR Dunk',
  'P Parameswaran',
  'HF Gurney',
  'K Khejroliya',
  'UT Yadav',
  'Sunny Singh',
  'CJ Jordan',
  'AN Ahmed',
  'KL Rahul',
  'RD Gaikwad',
  'PVD Chameera',
  'RS Sodhi',
  'MJ Lumb',
  'NJ Maddinson',
  'PP Chawla',
  'AB McDonald',
  'LE Plunkett',
  'KS Williamson',
  'DJM Short',
  'R Tewatia',
  'LH Ferguson',
  'T Banton',
  'SS Sarkar',
  'SMSM Senanayake',
  'NT Ellis',
  'R Shepherd',
  'KB Arun Karthik',
  'A Nortje',
  'NK Patel',
  'R Bishnoi',
  'CJ Dala',
  'AN Ghosh',
  'Harmeet Singh',
  'FY Fazal',
  'Mohammed Shami',
  'RR Raje',
  'SB Jakati',
  'M Theekshana',
  'JJ Bumrah',
  'Basil Thampi',
  'UA Birla',
  'GD McGrath',
  'OA Shah',
  'Harpreet Singh',
  'PJ Cummins',
  'B Akhil',
  'B Indrajith',
  'P Amarnath',
  'BJ Hodge',
  'AM Rahane',
  'GH Vihari',
  'PJ Sangwan',
  'PBB Rajapaksa',
  'DJ Muthuswami',
  'AC Voges',
  'MEK Hussey',
  'JA Morkel',
  'MD Mishra',
  'Ramandeep Singh',
  'K Gowtham',
  'YBK Jaiswal',
  'KK Nair',
  'WD Parnell',
  'Umar Gul',
  'WP Saha',
  'Sohail Tanvir',
  'BB Sran',
  'M Markande',
  'S Rana',
  'P Prasanth',
  'V Shankar',
  'Kamran Khan',
  'M Ntini',
  'K Rabada',
  'KD Karthik',
  'Simarjeet Singh',
  'GB Hogg',
  'DJ Jacobs',
  'O Thomas',
  'AD Hales',
  'S Ladda',
  'CV Varun',
  'MK Tiwary',
  'K Goel',
  'Shubman Gill',
  'KS Bharat',
  'SP Fleming',
  'JDS Neesham',
  'SM Katich',
  'CA Ingram',
  'M Jansen',
  'AD Nath',
  'VR Iyer',
  'WPUJC Vaas',
  'Karanveer Singh',
  'HH Pandya',
  'Pankaj Singh',
  'A Uniyal',
  'R Powell',
  'KH Pandya',
  'DJ Bravo',
  'VG Arora',
  'D Pretorius',
  'R Vinay Kumar',
  'RN ten Doeschate',
  'SPD Smith',
  'D Kalyankrishna',
  'JC Buttler',
  'Anmolpreet Singh',
  'Shahid Afridi',
  'F du Plessis',
  'DB Das',
  'A Badoni',
  'J Botha',
  'JA Richardson',
  'Ankit Soni',
  'S Dube',
  'LRPL Taylor',
  'RK Singh',
  'JR Philippe',
  'FA Allen',
  'S Nadeem',
  'RA Bawa',
  'MG Neser',
  'V Kohli',
  'JW Hastings',
  'DE Bollinger',
  'SD Chitnis',
  'M Klinger',
  'SK Trivedi',
  'Fazalhaq Farooqi',
  'SC Kuggeleijn',
  'Gurkeerat Singh',
  'DW Steyn',
  'Washington Sundar',
  'SA Abbott',
  'S Sriram',
  'NB Singh',
  'MS Dhoni',
  'CR Brathwaite',
  'F Behardien',
  'L Ngidi',
  'JR Hazlewood',
  'BB McCullum',
  'GJ Bailey',
  'KW Richardson',
  'RS Gavaskar',
  'SA Yadav',
  'N Pooran',
  'STR Binny',
  'RT Ponting',
  'A Singh',
  'AA Jhunjhunwala',
  'Abhishek Sharma',
  'BJ Rohrer',
  'SS Prabhudessai',
  'Shoaib Ahmed',
  'DP Conway',
  'BMAJ Mendis',
  'BJ Haddin',
  'AJ Turner',
  'Avesh Khan',
  'M Manhas',
  'Mohsin Khan',
  'S Badree',
  'AM Nayar',
  'A Zampa',
  'Anand Rajan',
  'Mohammed Siraj',
  'JE Taylor',
  'JD Unadkat',
  'S Kaul',
  'GJ Maxwell',
  'G Gambhir',
  'SR Tendulkar',
  'Abdul Samad',
  'Lalit Yadav',
  'EJG Morgan',
  'S Chanderpaul',
  'Ankit Sharma',
  'AT Carey',
  'VH Zol',
  'DR Sams',
  'MA Starc',
  'Swapnil Singh',
  'MJ Santner',
  'JM Sharma',
  'RJ Harris',
  'C Ganapathy',
  'P Kumar',
  'V Pratap Singh',
  'AC Gilchrist',
  'S Sohal',
  'TL Suman',
  'Harbhajan Singh',
  'IC Pandey',
  'KA Jamieson',
  'RV Patel',
  'A Flintoff',
  'Mukesh Choudhary',
  'SK Warne',
  'M Vijay',
  'AC Blizzard',
  'R Dhawan',
  'OF Smith',
  'MA Agarwal',
  'SB Bangar',
  'SL Malinga',
  'MP Stoinis',
  'YV Takawale',
  'R Ashwin',
  'Mohammad Asif',
  'AS Raut',
  'Misbah-ul-Haq',
  'MS Gony',
  'S Aravind',
  'S Lamichhane',
  'MF Maharoof',
  'DG Nalkande',
  'MM Patel',
  'S Sreesanth',
  'KV Sharma',
  'TM Dilshan',
  'Arshdeep Singh',
  'JDP Oram',
  'HR Shokeen',
  'RV Gomez',
  'RR Rossouw',
  'A Chandila',
  'AUK Pathan',
  'A Kumble',
  'AS Roy',
  'R Sai Kishore',
  'SB Joshi',
  'DL Vettori',
  'TG Southee',
  'AA Bilakhia',
  'TM Srivastava',
  'GC Viljoen',
  'PA Patel',
  'KP Pietersen',
  'DT Christian',
  'T Natarajan',
  'S Randiv',
  'S Kaushik',
  'J Syed Mohammad',
  'CM Gautam',
  'RP Singh',
  'Shivam Mavi',
  'KC Sangakkara',
  'CH Gayle',
  'JD Ryder',
  'C Madan',
  'P Sahu',
  'NS Naik',
  'SW Billings',
  'DPMD Jayawardene',
  'DP Vijaykumar',
  'TM Head',
  'SP Goswami',
  'IK Pathan',
  'JP Duminy',
  'M Kaif',
  'VR Aaron',
  'Mohammad Nabi',
  'RJ Peterson',
  'RG Sharma',
  'RV Uthappa',
  'DJ Hooda',
  'S Sandeep Warrier',
  'RR Powar',
  'ST Jayasuriya',
  'SS Cottrell',
  'D Salunkhe',
  'AL Menaria',
  'M de Lange',
  'S Badrinath',
  'A Ashish Reddy',
  'DL Chahar',
  'JL Pattinson',
  'S Dhawan',
  'CA Pujara',
  'MC Henriques',
  'IS Sodhi',
  'LA Pomersbach',
  'PK Garg',
  'B Stanlake',
  'Y Gnaneswara Rao',
  'JL Denly',
  'Vishnu Vinod',
  'PH Solanki',
  'BA Bhatt',
  'TK Curran',
  'B Geeves',
  'TU Deshpande',
  'Mohammad Hafeez',
  'UBT Chand',
  'D du Preez',
  'DH Yagnik',
  'AS Yadav',
  'JR Hopes',
  'BCJ Cutting',
  'Harpreet Brar',
  'LS Livingstone',
  'Y Nagar',
  'A Choudhary',
  'KR Sen',
  'B Laughlin',
  'P Awana',
  'AA Noffke',
  'DJ Hussey',
  'PV Tambe',
  'CJ Anderson',
  'M Prasidh Krishna',
  'PC Valthaty',
  'Navdeep Saini',
  'B Lee',
  'Joginder Sharma',
  'P Dubey',
  'MM Sharma',
  'AA Chavan',
  'A Symonds',
  'BE Hendricks',
  'CK Langeveldt',
  'VS Malik',
  'SW Tait',
  'Shivam Sharma',
  'SS Iyer',
  'SE Marsh',
  'Harshit Rana',
  'SN Thakur',
  'V Sehwag',
  'Ravi Bishnoi',
  'S Narwal',
  'A Nehra',
  'JM Kemp',
  'D Padikkal',
  'N Jagadeesan',
  'AB Dinda',
  'Rashid Khan',
  'AB de Villiers',
  'Y Prithvi Raj',
  'LJ Wright',
  'MS Wade',
  'PP Shaw',
  'T Thushara',
  'PR Shah',
  'TH David',
  'VVS Laxman',
  'I Udana',
  'T Taibu',
  'MN van Wyk',
  'RD Chahar',
  'SB Styris',
  'S Tyagi',
  'MJ Guptill',
  'S Anirudha',
  'LR Shukla',
  'CJ McKay',
  'SM Curran',
  'SE Rutherford',
  'A Manohar',
  'R McLaren',
  'JO Holder',
  'CJ Green',
  'Kuldeep Yadav',
  'GC Smith',
  'MJ Henry',
  'PD Collingwood',
  'MK Lomror',
  'Mujeeb Ur Rahman',
  'I Sharma',
  'E Lewis',
  'NM Coulter-Nile',
  'SC Ganguly',
  'S Vidyut',
  'M Muralitharan',
  'TR Birt',
  'MS Bisla',
  'C Nanda',
  'BB Samantray',
  'C Munro',
  'KM Asif',
  'NLTC Perera',
  'CH Morris',
  'C Sakariya',
  'SS Tiwary',
  'HV Patel',
  'D Brevis',
  'R Sharma',
  'P Simran Singh',
  'CR Woakes',
  'GS Sandhu',
  'B Sumanth',
  'Y Venugopal Rao',
  'RM Patidar',
  'Mandeep Singh',
  'Bipul Sharma',
  'M Pathirana',
  'KMDN Kulasekara',
  'J Theron',
  'Kamran Akmal',
  'AS Joseph',
  'RR Sarwan',
  'AJ Tye',
  'KP Appanna',
  'PWH de Silva',
  'MB Parmar',
  'TP Sudhindra',
  'Yuvraj Singh',
  'TS Mills',
  'J Suchith',
  'AB Agarkar',
  'GHS Garton',
  'SS Agarwal',
  'RA Jadeja',
  'Azhar Mahmood',
  'AD Russell',
  'AK Markram',
  'P Negi',
  'B Kumar',
  'TA Boult',
  'T Kohli',
  'KK Ahmed',
  'P Chopra',
  'DP Nannes',
  'CA Lynn',
  'A Mukund',
  'DB Ravi Teja',
  'TL Seifert',
  'P Suyal',
  'HH Gibbs',
  'MJ Clarke',
  'Mustafizur Rahman',
  'MR Marsh',
  'L Ablish',
  'Akash Deep',
  'AP Tare',
  'ER Dwivedi',
  'K Yadav',
  'R Parag',
  'HE van der Dussen',
  'GD Phillips',
  'T Shamsi',
  'AG Paunikar',
  'SO Hetmyer',
  'AC Thomas',
  'Anuj Rawat',
  'HM Amla',
  'SJ Srivastava',
  'VS Yeligati',
  'RS Bopara',
  'DR Smith',
  'MJ McClenaghan',
  'DJ Willey',
  'LMP Simmons',
  'Z Khan',
  'SN Khan'],
 'Venues': ['Narendra Modi Stadium',
  'Eden Gardens',
  'Wankhede Stadium',
  'Brabourne Stadium',
  'Dr DY Patil Sports Academy',
  'Maharashtra Cricket Association Stadium',
  'Dubai International Cricket Stadium',
  'Sharjah Cricket Stadium',
  'Zayed Cricket Stadium',
  'Arun Jaitley Stadium',
  'MA Chidambaram Stadium',
  'Sheikh Zayed Stadium',
  'Rajiv Gandhi International Stadium',
  'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
  'Punjab Cricket Association IS Bindra Stadium',
  'M.Chinnaswamy Stadium',
  'Sawai Mansingh Stadium',
  'Holkar Cricket Stadium',
  'M Chinnaswamy Stadium',
  'Feroz Shah Kotla',
  'Green Park',
  'Saurashtra Cricket Association Stadium',
  'Shaheed Veer Narayan Singh International Stadium',
  'JSCA International Stadium Complex',
  'Punjab Cricket Association Stadium',
  'Sardar Patel Stadium',
  'Barabati Stadium',
  'Subrata Roy Sahara Stadium',
  'Himachal Pradesh Cricket Association Stadium',
  'Nehru Stadium',
  'Vidarbha Cricket Association Stadium',
  'New Wanderers Stadium',
  'SuperSport Park',
  'Kingsmead',
  'OUTsurance Oval',
  "St George's Park",
  'De Beers Diamond Oval',
  'Buffalo Park',
  'Newlands'],
 'Cities': ['Ahmedabad',
  'Kolkata',
  'Mumbai',
  'Pune',
  'Dubai',
  'Sharjah',
  'Abu Dhabi',
  'Delhi',
  'Chennai',
  'Hyderabad',
  'Visakhapatnam',
  'Chandigarh',
  'Bengaluru',
  'Jaipur',
  'Indore',
  'Bangalore',
  'Kanpur',
  'Rajkot',
  'Raipur',
  'Ranchi',
  'Cuttack',
  'Dharamsala',
  'Kochi',
  'Nagpur',
  'Johannesburg',
  'Centurion',
  'Durban',
  'Bloemfontein',
  'Port Elizabeth',
  'Kimberley',
  'East London',
  'Cape Town'],
 'Teams': ['Chennai Super Kings',
  'Deccan Chargers',
  'Delhi Capitals',
  'Delhi Daredevils',
  'Gujarat Lions',
  'Gujarat Titans',
  'Kings XI Punjab',
  'Kochi Tuskers Kerala',
  'Kolkata Knight Riders',
  'Lucknow Super Giants',
  'Mumbai Indians',
  'Pune Warriors',
  'Punjab Kings',
  'Rajasthan Royals',
  'Rising Pune Supergiant',
  'Rising Pune Supergiants',
  'Royal Challengers Bangalore',
  'Sunrisers Hyderabad'],
 'Umpires': ['A Deshmukh',
  'A Nand Kishore',
  'AK Chaudhary',
  'AL Hill',
  'AM Saheba',
  'AV Jayaprakash',
  'AY Dandekar',
  'Aleem Dar',
  'Asad Rauf',
  'BF Bowden',
  'BG Jerling',
  'BNJ Oxenford',
  'BR Doctrove',
  'C Shamshuddin',
  'CB Gaffaney',
  'CK Nandan',
  'Chirra Ravikanthreddy',
  'DJ Harper',
  'GA Pratapkumar',
  'GAV Baxter',
  'GR Sadashiv Iyer',
  'HAS Khalid',
  'HDPK Dharmasena',
  'I Shivram',
  'IJ Gould',
  'IL Howell',
  'J Madanagopal',
  'JD Cloete',
  'K Bharatan',
  'K Hariharan',
  'K Srinath',
  'K Srinivasan',
  'KN Ananthapadmanabhan',
  'M Erasmus',
  'MA Gough',
  'MR Benson',
  'N Pandit',
  'NA Patwardhan',
  'NJ Llong',
  'Navdeep Singh',
  'Nitin Menon',
  'PG Pathak',
  'PR Reiffel',
  'R Pandit',
  'RB Tiffin',
  'RE Koertzen',
  'RJ Tucker',
  'RK Illingworth',
  'RM Deshpande',
  'S Asnani',
  'S Das',
  'S Ravi',
  'SD Fry',
  'SD Ranade',
  'SJ Davis',
  'SJA Taufel',
  'SK Tarapore',
  'SL Shastri',
  'SS Hazare',
  'Subroto Das',
  'TH Wijewardene',
  'Tapan Sharma',
  'UV Gandhe',
  'VA Kulkarni',
  'VK Sharma',
  'YC Barde']}

In [3]:
players = sorted(search_dict["Players"])
print(players)

['A Ashish Reddy', 'A Badoni', 'A Chandila', 'A Chopra', 'A Choudhary', 'A Dananjaya', 'A Flintoff', 'A Kumble', 'A Manohar', 'A Mishra', 'A Mithun', 'A Mukund', 'A Nehra', 'A Nortje', 'A Singh', 'A Symonds', 'A Uniyal', 'A Zampa', 'AA Bilakhia', 'AA Chavan', 'AA Jhunjhunwala', 'AA Noffke', 'AB Agarkar', 'AB Barath', 'AB Dinda', 'AB McDonald', 'AB de Villiers', 'AC Blizzard', 'AC Gilchrist', 'AC Thomas', 'AC Voges', 'AD Hales', 'AD Mascarenhas', 'AD Mathews', 'AD Nath', 'AD Russell', 'AF Milne', 'AG Murtaza', 'AG Paunikar', 'AJ Finch', 'AJ Turner', 'AJ Tye', 'AK Markram', 'AL Menaria', 'AM Nayar', 'AM Rahane', 'AM Salvi', 'AN Ahmed', 'AN Ghosh', 'AP Dole', 'AP Majumdar', 'AP Tare', 'AR Patel', 'AS Joseph', 'AS Rajpoot', 'AS Raut', 'AS Roy', 'AS Yadav', 'AT Carey', 'AT Rayudu', 'AUK Pathan', 'Abdul Samad', 'Abhishek Sharma', 'Akash Deep', 'Aman Hakim Khan', 'Anand Rajan', 'Anirudh Singh', 'Ankit Sharma', 'Ankit Soni', 'Anmolpreet Singh', 'Anuj Rawat', 'Anureet Singh', 'Arshdeep Singh', 'Avesh Khan', 'Azhar Mahmood', 'B Akhil', 'B Chipli', 'B Geeves', 'B Indrajith', 'B Kumar', 'B Laughlin', 'B Lee', 'B Sai Sudharsan', 'B Stanlake', 'B Sumanth', 'BA Bhatt', 'BA Stokes', 'BAW Mendis', 'BB McCullum', 'BB Samantray', 'BB Sran', 'BCJ Cutting', 'BE Hendricks', 'BJ Haddin', 'BJ Hodge', 'BJ Rohrer', 'BMAJ Mendis', 'BR Dunk', 'BW Hilfenhaus', 'Basil Thampi', 'Bipul Sharma', 'C Ganapathy', 'C Madan', 'C Munro', 'C Nanda', 'C Sakariya', 'C de Grandhomme', 'CA Ingram', 'CA Lynn', 'CA Pujara', 'CH Gayle', 'CH Morris', 'CJ Anderson', 'CJ Dala', 'CJ Ferguson', 'CJ Green', 'CJ Jordan', 'CJ McKay', 'CK Kapugedera', 'CK Langeveldt', 'CL White', 'CM Gautam', 'CR Brathwaite', 'CR Woakes', 'CRD Fernando', 'CV Varun', 'D Brevis', 'D Kalyankrishna', 'D Padikkal', 'D Pretorius', 'D Salunkhe', 'D Wiese', 'D du Preez', 'DA Miller', 'DA Warner', 'DB Das', 'DB Ravi Teja', 'DE Bollinger', 'DG Nalkande', 'DH Yagnik', 'DJ Bravo', 'DJ Harris', 'DJ Hooda', 'DJ Hussey', 'DJ Jacobs', 'DJ Malan', 'DJ Mitchell', 'DJ Muthuswami', 'DJ Thornely', 'DJ Willey', 'DJG Sammy', 'DJM Short', 'DL Chahar', 'DL Vettori', 'DNT Zoysa', 'DP Conway', 'DP Nannes', 'DP Vijaykumar', 'DPMD Jayawardene', 'DR Sams', 'DR Smith', 'DS Kulkarni', 'DS Lehmann', 'DT Christian', 'DT Patil', 'DW Steyn', 'E Lewis', 'EJG Morgan', 'ER Dwivedi', 'F Behardien', 'F du Plessis', 'FA Allen', 'FH Edwards', 'FY Fazal', 'Fazalhaq Farooqi', 'G Gambhir', 'GB Hogg', 'GC Smith', 'GC Viljoen', 'GD McGrath', 'GD Phillips', 'GH Vihari', 'GHS Garton', 'GJ Bailey', 'GJ Maxwell', 'GS Sandhu', 'Gagandeep Singh', 'Gurkeerat Singh', 'H Das', 'H Klaasen', 'HE van der Dussen', 'HF Gurney', 'HH Gibbs', 'HH Pandya', 'HM Amla', 'HR Shokeen', 'HV Patel', 'Harbhajan Singh', 'Harmeet Singh', 'Harpreet Brar', 'Harpreet Singh', 'Harshit Rana', 'I Malhotra', 'I Sharma', 'I Udana', 'IC Pandey', 'IK Pathan', 'IR Jaggi', 'IS Sodhi', 'Imran Tahir', 'Iqbal Abdulla', 'Ishan Kishan', 'J Botha', 'J Suchith', 'J Syed Mohammad', 'J Theron', 'J Yadav', 'JA Morkel', 'JA Richardson', 'JC Archer', 'JC Buttler', 'JD Ryder', 'JD Unadkat', 'JDP Oram', 'JDS Neesham', 'JE Taylor', 'JEC Franklin', 'JH Kallis', 'JJ Bumrah', 'JJ Roy', 'JL Denly', 'JL Pattinson', 'JM Bairstow', 'JM Kemp', 'JM Sharma', 'JO Holder', 'JP Behrendorff', 'JP Duminy', 'JP Faulkner', 'JPR Scantlebury-Searles', 'JR Hazlewood', 'JR Hopes', 'JR Philippe', 'JW Hastings', 'Jalaj S Saxena', 'Jaskaran Singh', 'Joginder Sharma', 'K Goel', 'K Gowtham', 'K Kartikeya', 'K Khejroliya', 'K Rabada', 'K Upadhyay', 'K Yadav', 'KA Jamieson', 'KA Pollard', 'KAJ Roach', 'KB Arun Karthik', 'KC Cariappa', 'KC Sangakkara', 'KD Karthik', 'KH Pandya', 'KJ Abbott', 'KK Ahmed', 'KK Cooper', 'KK Nair', 'KL Nagarkoti', 'KL Rahul', 'KM Asif', 'KM Jadhav', 'KMA Paul', 'KMDN Kulasekara', 'KP Appanna', 'KP Pietersen', 'KR Sen', 'KS Bharat', 'KS Williamson', 'KV Sharma', 'KW Richardson', 'Kamran Akmal', 'Kamran Khan', 'Karanveer Singh', 'Kartik Tyagi', 'Kuldeep Yadav', 'L Ablish', 'L Balaji', 'L Ngidi', 'L Ronchi', 'LA Pomersbach', 'LE Plunkett', 'LH Ferguson', 'LJ Wright', 'LMP Simmons', 'LPC Silva', 'LR Shukla', 'LRPL Taylor', 'LS Livingstone', 'Lalit Yadav', 'M Ashwin', 'M Jansen', 'M Kaif', 'M Kartik', 'M Klinger', 'M Manhas', 'M Markande', 'M Morkel', 'M Muralitharan', 'M Ntini', 'M Pathirana', 'M Prasidh Krishna', 'M Rawat', 'M Shahrukh Khan', 'M Theekshana', 'M Vijay', 'M Vohra', 'M de Lange', 'MA Agarwal', 'MA Khote', 'MA Starc', 'MB Parmar', 'MC Henriques', 'MC Juneja', 'MD Mishra', 'MEK Hussey', 'MF Maharoof', 'MG Johnson', 'MG Neser', 'MJ Clarke', 'MJ Guptill', 'MJ Henry', 'MJ Lumb', 'MJ McClenaghan', 'MJ Santner', 'MK Lomror', 'MK Pandey', 'MK Tiwary', 'ML Hayden', 'MM Ali', 'MM Patel', 'MM Sharma', 'MN Samuels', 'MN van Wyk', 'MP Stoinis', 'MR Marsh', 'MS Bisla', 'MS Dhoni', 'MS Gony', 'MS Wade', 'MV Boucher', 'Mandeep Singh', 'Misbah-ul-Haq', 'Mohammad Asif', 'Mohammad Hafeez', 'Mohammad Nabi', 'Mohammed Shami', 'Mohammed Siraj', 'Mohsin Khan', 'Mujeeb Ur Rahman', 'Mukesh Choudhary', 'Mustafizur Rahman', 'N Jagadeesan', 'N Pooran', 'N Rana', 'N Saini', 'NB Singh', 'ND Doshi', 'NJ Maddinson', 'NK Patel', 'NLTC Perera', 'NM Coulter-Nile', 'NS Naik', 'NT Ellis', 'NV Ojha', 'Navdeep Saini', 'O Thomas', 'OA Shah', 'OC McCoy', 'OF Smith', 'P Amarnath', 'P Awana', 'P Chopra', 'P Dharmani', 'P Dogra', 'P Dubey', 'P Kumar', 'P Negi', 'P Parameswaran', 'P Prasanth', 'P Sahu', 'P Simran Singh', 'P Suyal', 'PA Patel', 'PA Reddy', 'PBB Rajapaksa', 'PC Valthaty', 'PD Collingwood', 'PH Solanki', 'PJ Cummins', 'PJ Sangwan', 'PK Garg', 'PM Sarvesh Kumar', 'PP Chawla', 'PP Ojha', 'PP Shaw', 'PR Shah', 'PSP Handscomb', 'PV Tambe', 'PVD Chameera', 'PWH de Silva', 'Pankaj Singh', 'Parvez Rasool', 'Q de Kock', 'R Ashwin', 'R Bhatia', 'R Bishnoi', 'R Dhawan', 'R Dravid', 'R McLaren', 'R Parag', 'R Powell', 'R Rampaul', 'R Sai Kishore', 'R Sathish', 'R Sharma', 'R Shepherd', 'R Shukla', 'R Tewatia', 'R Vinay Kumar', 'RA Bawa', 'RA Jadeja', 'RA Tripathi', 'RD Chahar', 'RD Gaikwad', 'RE Levi', 'RE van der Merwe', 'RG Sharma', 'RJ Harris', 'RJ Peterson', 'RK Singh', 'RM Patidar', 'RN ten Doeschate', 'RP Meredith', 'RP Singh', 'RR Pant', 'RR Powar', 'RR Raje', 'RR Rossouw', 'RR Sarwan', 'RS Bopara', 'RS Gavaskar', 'RS Sodhi', 'RT Ponting', 'RV Gomez', 'RV Patel', 'RV Pawar', 'RV Uthappa', 'Ramandeep Singh', 'Rashid Khan', 'Ravi Bishnoi', 'S Anirudha', 'S Aravind', 'S Badree', 'S Badrinath', 'S Chanderpaul', 'S Dhawan', 'S Dube', 'S Gopal', 'S Kaul', 'S Kaushik', 'S Ladda', 'S Lamichhane', 'S Midhun', 'S Nadeem', 'S Narwal', 'S Rana', 'S Randiv', 'S Sandeep Warrier', 'S Sohal', 'S Sreesanth', 'S Sriram', 'S Tyagi', 'S Vidyut', 'SA Abbott', 'SA Asnodkar', 'SA Yadav', 'SB Bangar', 'SB Jakati', 'SB Joshi', 'SB Styris', 'SB Wagh', 'SC Ganguly', 'SC Kuggeleijn', 'SD Chitnis', 'SE Bond', 'SE Marsh', 'SE Rutherford', 'SJ Srivastava', 'SK Raina', 'SK Trivedi', 'SK Warne', 'SL Malinga', 'SM Boland', 'SM Curran', 'SM Katich', 'SM Pollock', 'SMSM Senanayake', 'SN Khan', 'SN Thakur', 'SO Hetmyer', 'SP Fleming', 'SP Goswami', 'SP Jackson', 'SP Narine', 'SPD Smith', 'SR Tendulkar', 'SR Watson', 'SS Agarwal', 'SS Cottrell', 'SS Iyer', 'SS Prabhudessai', 'SS Sarkar', 'SS Shaikh', 'SS Tiwary', 'ST Jayasuriya', 'STR Binny', 'SV Samson', 'SW Billings', 'SW Tait', 'Sachin Baby', 'Salman Butt', 'Sandeep Sharma', 'Shahbaz Ahmed', 'Shahid Afridi', 'Shakib Al Hasan', 'Shashank Singh', 'Shivam Mavi', 'Shivam Sharma', 'Shoaib Ahmed', 'Shoaib Akhtar', 'Shoaib Malik', 'Shubman Gill', 'Simarjeet Singh', 'Sohail Tanvir', 'Sunny Gupta', 'Sunny Singh', 'Swapnil Singh', 'T Banton', 'T Kohli', 'T Natarajan', 'T Shamsi', 'T Taibu', 'T Thushara', 'TA Boult', 'TG Southee', 'TH David', 'TK Curran', 'TL Seifert', 'TL Suman', 'TM Dilshan', 'TM Head', 'TM Srivastava', 'TP Sudhindra', 'TR Birt', 'TS Mills', 'TU Deshpande', 'Tilak Varma', 'U Kaul', 'UA Birla', 'UBT Chand', 'UT Khawaja', 'UT Yadav', 'Umar Gul', 'Umran Malik', 'V Kohli', 'V Pratap Singh', 'V Sehwag', 'V Shankar', 'VG Arora', 'VH Zol', 'VR Aaron', 'VR Iyer', 'VRV Singh', 'VS Malik', 'VS Yeligati', 'VVS Laxman', 'VY Mahesh', 'Vishnu Vinod', 'W Jaffer', 'WA Mota', 'WD Parnell', 'WP Saha', 'WPUJC Vaas', 'Washington Sundar', 'Y Gnaneswara Rao', 'Y Nagar', 'Y Prithvi Raj', 'Y Venugopal Rao', 'YA Abdulla', 'YBK Jaiswal', 'YK Pathan', 'YS Chahal', 'YV Takawale', 'Yash Dayal', 'Yashpal Singh', 'Yuvraj Singh', 'Z Khan']

In [4]:
players[:2]

['A Ashish Reddy', 'A Badoni']

In [5]:
import data_manipulation
import pandas as pd
player_name = players[0]
c = 1
first_match_date, last_match_date = data_manipulation.get_first_and_last_match_dates(player_name)
combined_df_batting = pd.DataFrame(data_manipulation.batter_stats(player_name, first_match_date, last_match_date))
combined_df_bowling = pd.DataFrame(data_manipulation.bowler_stats(player_name, first_match_date, last_match_date))
print("Epoch = ",c,"/",len(players),"----",player_name)
for player_name in players[1:]:
    c+=1
    print("Epoch = ",c,"/",len(players),"----",player_name)
    first_match_date, last_match_date = data_manipulation.get_first_and_last_match_dates(player_name)
    batter_stats = data_manipulation.batter_stats(player_name, first_match_date, last_match_date)
    combined_df_batting = pd.concat([combined_df_batting, pd.DataFrame(batter_stats)], ignore_index=True)
    bowler_stats = data_manipulation.bowler_stats(player_name, first_match_date, last_match_date)
    combined_df_bowling = pd.concat([combined_df_bowling, pd.DataFrame(bowler_stats)], ignore_index=True)

Epoch =  1 / 606 ---- A Ashish Reddy
Epoch =  2 / 606 ---- A Badoni
Epoch =  3 / 606 ---- A Chandila
Epoch =  4 / 606 ---- A Chopra
Epoch =  5 / 606 ---- A Choudhary
Epoch =  6 / 606 ---- A Dananjaya
Epoch =  7 / 606 ---- A Flintoff
Epoch =  8 / 606 ---- A Kumble
Epoch =  9 / 606 ---- A Manohar
Epoch =  10 / 606 ---- A Mishra
Epoch =  11 / 606 ---- A Mithun
Epoch =  12 / 606 ---- A Mukund
Epoch =  13 / 606 ---- A Nehra
Epoch =  14 / 606 ---- A Nortje
Epoch =  15 / 606 ---- A Singh
Epoch =  16 / 606 ---- A Symonds
Epoch =  17 / 606 ---- A Uniyal
Epoch =  18 / 606 ---- A Zampa
Epoch =  19 / 606 ---- AA Bilakhia
Epoch =  20 / 606 ---- AA Chavan
Epoch =  21 / 606 ---- AA Jhunjhunwala
Epoch =  22 / 606 ---- AA Noffke
Epoch =  23 / 606 ---- AB Agarkar
Epoch =  24 / 606 ---- AB Barath
Epoch =  25 / 606 ---- AB Dinda
Epoch =  26 / 606 ---- AB McDonald
Epoch =  27 / 606 ---- AB de Villiers
Epoch =  28 / 606 ---- AC Blizzard
Epoch =  29 / 606 ---- AC Gilchrist
Epoch =  30 / 606 ---- AC Thomas
Epoch =  31 / 606 ---- AC Voges
Epoch =  32 / 606 ---- AD Hales
Epoch =  33 / 606 ---- AD Mascarenhas
Epoch =  34 / 606 ---- AD Mathews
Epoch =  35 / 606 ---- AD Nath
Epoch =  36 / 606 ---- AD Russell
Epoch =  37 / 606 ---- AF Milne
Epoch =  38 / 606 ---- AG Murtaza
Epoch =  39 / 606 ---- AG Paunikar
Epoch =  40 / 606 ---- AJ Finch
Epoch =  41 / 606 ---- AJ Turner
Epoch =  42 / 606 ---- AJ Tye
Epoch =  43 / 606 ---- AK Markram
Epoch =  44 / 606 ---- AL Menaria
Epoch =  45 / 606 ---- AM Nayar
Epoch =  46 / 606 ---- AM Rahane
Epoch =  47 / 606 ---- AM Salvi
Epoch =  48 / 606 ---- AN Ahmed
Epoch =  49 / 606 ---- AN Ghosh
Epoch =  50 / 606 ---- AP Dole
Epoch =  51 / 606 ---- AP Majumdar
Epoch =  52 / 606 ---- AP Tare
Epoch =  53 / 606 ---- AR Patel
Epoch =  54 / 606 ---- AS Joseph
Epoch =  55 / 606 ---- AS Rajpoot
Epoch =  56 / 606 ---- AS Raut
Epoch =  57 / 606 ---- AS Roy
Epoch =  58 / 606 ---- AS Yadav
Epoch =  59 / 606 ---- AT Carey
Epoch =  60 / 606 ---- AT Rayudu
Epoch =  61 / 606 ---- AUK Pathan
Epoch =  62 / 606 ---- Abdul Samad
Epoch =  63 / 606 ---- Abhishek Sharma
Epoch =  64 / 606 ---- Akash Deep
Epoch =  65 / 606 ---- Aman Hakim Khan
Epoch =  66 / 606 ---- Anand Rajan
Epoch =  67 / 606 ---- Anirudh Singh
Epoch =  68 / 606 ---- Ankit Sharma
Epoch =  69 / 606 ---- Ankit Soni
Epoch =  70 / 606 ---- Anmolpreet Singh
Epoch =  71 / 606 ---- Anuj Rawat
Epoch =  72 / 606 ---- Anureet Singh
Epoch =  73 / 606 ---- Arshdeep Singh
Epoch =  74 / 606 ---- Avesh Khan
Epoch =  75 / 606 ---- Azhar Mahmood
Epoch =  76 / 606 ---- B Akhil
Epoch =  77 / 606 ---- B Chipli
Epoch =  78 / 606 ---- B Geeves
Epoch =  79 / 606 ---- B Indrajith
Epoch =  80 / 606 ---- B Kumar
Epoch =  81 / 606 ---- B Laughlin
Epoch =  82 / 606 ---- B Lee
Epoch =  83 / 606 ---- B Sai Sudharsan
Epoch =  84 / 606 ---- B Stanlake
Epoch =  85 / 606 ---- B Sumanth
Epoch =  86 / 606 ---- BA Bhatt
Epoch =  87 / 606 ---- BA Stokes
Epoch =  88 / 606 ---- BAW Mendis
Epoch =  89 / 606 ---- BB McCullum
Epoch =  90 / 606 ---- BB Samantray
Epoch =  91 / 606 ---- BB Sran
Epoch =  92 / 606 ---- BCJ Cutting
Epoch =  93 / 606 ---- BE Hendricks
Epoch =  94 / 606 ---- BJ Haddin
Epoch =  95 / 606 ---- BJ Hodge
Epoch =  96 / 606 ---- BJ Rohrer
Epoch =  97 / 606 ---- BMAJ Mendis
Epoch =  98 / 606 ---- BR Dunk
Epoch =  99 / 606 ---- BW Hilfenhaus
Epoch =  100 / 606 ---- Basil Thampi
Epoch =  101 / 606 ---- Bipul Sharma
Epoch =  102 / 606 ---- C Ganapathy
Epoch =  103 / 606 ---- C Madan
Epoch =  104 / 606 ---- C Munro
Epoch =  105 / 606 ---- C Nanda
Epoch =  106 / 606 ---- C Sakariya
Epoch =  107 / 606 ---- C de Grandhomme
Epoch =  108 / 606 ---- CA Ingram
Epoch =  109 / 606 ---- CA Lynn
Epoch =  110 / 606 ---- CA Pujara
Epoch =  111 / 606 ---- CH Gayle
Epoch =  112 / 606 ---- CH Morris
Epoch =  113 / 606 ---- CJ Anderson
Epoch =  114 / 606 ---- CJ Dala
Epoch =  115 / 606 ---- CJ Ferguson
Epoch =  116 / 606 ---- CJ Green
Epoch =  117 / 606 ---- CJ Jordan
Epoch =  118 / 606 ---- CJ McKay
Epoch =  119 / 606 ---- CK Kapugedera
Epoch =  120 / 606 ---- CK Langeveldt
Epoch =  121 / 606 ---- CL White
Epoch =  122 / 606 ---- CM Gautam
Epoch =  123 / 606 ---- CR Brathwaite
Epoch =  124 / 606 ---- CR Woakes
Epoch =  125 / 606 ---- CRD Fernando
Epoch =  126 / 606 ---- CV Varun
Epoch =  127 / 606 ---- D Brevis
Epoch =  128 / 606 ---- D Kalyankrishna
Epoch =  129 / 606 ---- D Padikkal
Epoch =  130 / 606 ---- D Pretorius
Epoch =  131 / 606 ---- D Salunkhe
Epoch =  132 / 606 ---- D Wiese
Epoch =  133 / 606 ---- D du Preez
Epoch =  134 / 606 ---- DA Miller
Epoch =  135 / 606 ---- DA Warner
Epoch =  136 / 606 ---- DB Das
Epoch =  137 / 606 ---- DB Ravi Teja
Epoch =  138 / 606 ---- DE Bollinger
Epoch =  139 / 606 ---- DG Nalkande
Epoch =  140 / 606 ---- DH Yagnik
Epoch =  141 / 606 ---- DJ Bravo
Epoch =  142 / 606 ---- DJ Harris
Epoch =  143 / 606 ---- DJ Hooda
Epoch =  144 / 606 ---- DJ Hussey
Epoch =  145 / 606 ---- DJ Jacobs
Epoch =  146 / 606 ---- DJ Malan
Epoch =  147 / 606 ---- DJ Mitchell
Epoch =  148 / 606 ---- DJ Muthuswami
Epoch =  149 / 606 ---- DJ Thornely
Epoch =  150 / 606 ---- DJ Willey
Epoch =  151 / 606 ---- DJG Sammy
Epoch =  152 / 606 ---- DJM Short
Epoch =  153 / 606 ---- DL Chahar
Epoch =  154 / 606 ---- DL Vettori
Epoch =  155 / 606 ---- DNT Zoysa
Epoch =  156 / 606 ---- DP Conway
Epoch =  157 / 606 ---- DP Nannes
Epoch =  158 / 606 ---- DP Vijaykumar
Epoch =  159 / 606 ---- DPMD Jayawardene
Epoch =  160 / 606 ---- DR Sams
Epoch =  161 / 606 ---- DR Smith
Epoch =  162 / 606 ---- DS Kulkarni
Epoch =  163 / 606 ---- DS Lehmann
Epoch =  164 / 606 ---- DT Christian
Epoch =  165 / 606 ---- DT Patil
Epoch =  166 / 606 ---- DW Steyn
Epoch =  167 / 606 ---- E Lewis
Epoch =  168 / 606 ---- EJG Morgan
Epoch =  169 / 606 ---- ER Dwivedi
Epoch =  170 / 606 ---- F Behardien
Epoch =  171 / 606 ---- F du Plessis
Epoch =  172 / 606 ---- FA Allen
Epoch =  173 / 606 ---- FH Edwards
Epoch =  174 / 606 ---- FY Fazal
Epoch =  175 / 606 ---- Fazalhaq Farooqi
Epoch =  176 / 606 ---- G Gambhir
Epoch =  177 / 606 ---- GB Hogg
Epoch =  178 / 606 ---- GC Smith
Epoch =  179 / 606 ---- GC Viljoen
Epoch =  180 / 606 ---- GD McGrath
Epoch =  181 / 606 ---- GD Phillips
Epoch =  182 / 606 ---- GH Vihari
Epoch =  183 / 606 ---- GHS Garton
Epoch =  184 / 606 ---- GJ Bailey
Epoch =  185 / 606 ---- GJ Maxwell
Epoch =  186 / 606 ---- GS Sandhu
Epoch =  187 / 606 ---- Gagandeep Singh
Epoch =  188 / 606 ---- Gurkeerat Singh
Epoch =  189 / 606 ---- H Das
Epoch =  190 / 606 ---- H Klaasen
Epoch =  191 / 606 ---- HE van der Dussen
Epoch =  192 / 606 ---- HF Gurney
Epoch =  193 / 606 ---- HH Gibbs
Epoch =  194 / 606 ---- HH Pandya
Epoch =  195 / 606 ---- HM Amla
Epoch =  196 / 606 ---- HR Shokeen
Epoch =  197 / 606 ---- HV Patel
Epoch =  198 / 606 ---- Harbhajan Singh
Epoch =  199 / 606 ---- Harmeet Singh
Epoch =  200 / 606 ---- Harpreet Brar
Epoch =  201 / 606 ---- Harpreet Singh
Epoch =  202 / 606 ---- Harshit Rana
Epoch =  203 / 606 ---- I Malhotra
Epoch =  204 / 606 ---- I Sharma
Epoch =  205 / 606 ---- I Udana
Epoch =  206 / 606 ---- IC Pandey
Epoch =  207 / 606 ---- IK Pathan
Epoch =  208 / 606 ---- IR Jaggi
Epoch =  209 / 606 ---- IS Sodhi
Epoch =  210 / 606 ---- Imran Tahir
Epoch =  211 / 606 ---- Iqbal Abdulla
Epoch =  212 / 606 ---- Ishan Kishan
Epoch =  213 / 606 ---- J Botha
Epoch =  214 / 606 ---- J Suchith
Epoch =  215 / 606 ---- J Syed Mohammad
Epoch =  216 / 606 ---- J Theron
Epoch =  217 / 606 ---- J Yadav
Epoch =  218 / 606 ---- JA Morkel
Epoch =  219 / 606 ---- JA Richardson
Epoch =  220 / 606 ---- JC Archer
Epoch =  221 / 606 ---- JC Buttler
Epoch =  222 / 606 ---- JD Ryder
Epoch =  223 / 606 ---- JD Unadkat
Epoch =  224 / 606 ---- JDP Oram
Epoch =  225 / 606 ---- JDS Neesham
Epoch =  226 / 606 ---- JE Taylor
Epoch =  227 / 606 ---- JEC Franklin
Epoch =  228 / 606 ---- JH Kallis
Epoch =  229 / 606 ---- JJ Bumrah
Epoch =  230 / 606 ---- JJ Roy
Epoch =  231 / 606 ---- JL Denly
Epoch =  232 / 606 ---- JL Pattinson
Epoch =  233 / 606 ---- JM Bairstow
Epoch =  234 / 606 ---- JM Kemp
Epoch =  235 / 606 ---- JM Sharma
Epoch =  236 / 606 ---- JO Holder
Epoch =  237 / 606 ---- JP Behrendorff
Epoch =  238 / 606 ---- JP Duminy
Epoch =  239 / 606 ---- JP Faulkner
Epoch =  240 / 606 ---- JPR Scantlebury-Searles
Epoch =  241 / 606 ---- JR Hazlewood
Epoch =  242 / 606 ---- JR Hopes
Epoch =  243 / 606 ---- JR Philippe
Epoch =  244 / 606 ---- JW Hastings
Epoch =  245 / 606 ---- Jalaj S Saxena
Epoch =  246 / 606 ---- Jaskaran Singh
Epoch =  247 / 606 ---- Joginder Sharma
Epoch =  248 / 606 ---- K Goel
Epoch =  249 / 606 ---- K Gowtham
Epoch =  250 / 606 ---- K Kartikeya
Epoch =  251 / 606 ---- K Khejroliya
Epoch =  252 / 606 ---- K Rabada
Epoch =  253 / 606 ---- K Upadhyay
Epoch =  254 / 606 ---- K Yadav
Epoch =  255 / 606 ---- KA Jamieson
Epoch =  256 / 606 ---- KA Pollard
Epoch =  257 / 606 ---- KAJ Roach
Epoch =  258 / 606 ---- KB Arun Karthik
Epoch =  259 / 606 ---- KC Cariappa
Epoch =  260 / 606 ---- KC Sangakkara
Epoch =  261 / 606 ---- KD Karthik
Epoch =  262 / 606 ---- KH Pandya
Epoch =  263 / 606 ---- KJ Abbott
Epoch =  264 / 606 ---- KK Ahmed
Epoch =  265 / 606 ---- KK Cooper
Epoch =  266 / 606 ---- KK Nair
Epoch =  267 / 606 ---- KL Nagarkoti
Epoch =  268 / 606 ---- KL Rahul
Epoch =  269 / 606 ---- KM Asif
Epoch =  270 / 606 ---- KM Jadhav
Epoch =  271 / 606 ---- KMA Paul
Epoch =  272 / 606 ---- KMDN Kulasekara
Epoch =  273 / 606 ---- KP Appanna
Epoch =  274 / 606 ---- KP Pietersen
Epoch =  275 / 606 ---- KR Sen
Epoch =  276 / 606 ---- KS Bharat
Epoch =  277 / 606 ---- KS Williamson
Epoch =  278 / 606 ---- KV Sharma
Epoch =  279 / 606 ---- KW Richardson
Epoch =  280 / 606 ---- Kamran Akmal
Epoch =  281 / 606 ---- Kamran Khan
Epoch =  282 / 606 ---- Karanveer Singh
Epoch =  283 / 606 ---- Kartik Tyagi
Epoch =  284 / 606 ---- Kuldeep Yadav
Epoch =  285 / 606 ---- L Ablish
Epoch =  286 / 606 ---- L Balaji
Epoch =  287 / 606 ---- L Ngidi
Epoch =  288 / 606 ---- L Ronchi
Epoch =  289 / 606 ---- LA Pomersbach
Epoch =  290 / 606 ---- LE Plunkett
Epoch =  291 / 606 ---- LH Ferguson
Epoch =  292 / 606 ---- LJ Wright
Epoch =  293 / 606 ---- LMP Simmons
Epoch =  294 / 606 ---- LPC Silva
Epoch =  295 / 606 ---- LR Shukla
Epoch =  296 / 606 ---- LRPL Taylor
Epoch =  297 / 606 ---- LS Livingstone
Epoch =  298 / 606 ---- Lalit Yadav
Epoch =  299 / 606 ---- M Ashwin
Epoch =  300 / 606 ---- M Jansen
Epoch =  301 / 606 ---- M Kaif
Epoch =  302 / 606 ---- M Kartik
Epoch =  303 / 606 ---- M Klinger
Epoch =  304 / 606 ---- M Manhas
Epoch =  305 / 606 ---- M Markande
Epoch =  306 / 606 ---- M Morkel
Epoch =  307 / 606 ---- M Muralitharan
Epoch =  308 / 606 ---- M Ntini
Epoch =  309 / 606 ---- M Pathirana
Epoch =  310 / 606 ---- M Prasidh Krishna
Epoch =  311 / 606 ---- M Rawat
Epoch =  312 / 606 ---- M Shahrukh Khan
Epoch =  313 / 606 ---- M Theekshana
Epoch =  314 / 606 ---- M Vijay
Epoch =  315 / 606 ---- M Vohra
Epoch =  316 / 606 ---- M de Lange
Epoch =  317 / 606 ---- MA Agarwal
Epoch =  318 / 606 ---- MA Khote
Epoch =  319 / 606 ---- MA Starc
Epoch =  320 / 606 ---- MB Parmar
Epoch =  321 / 606 ---- MC Henriques
Epoch =  322 / 606 ---- MC Juneja
Epoch =  323 / 606 ---- MD Mishra
Epoch =  324 / 606 ---- MEK Hussey
Epoch =  325 / 606 ---- MF Maharoof
Epoch =  326 / 606 ---- MG Johnson
Epoch =  327 / 606 ---- MG Neser
Epoch =  328 / 606 ---- MJ Clarke
Epoch =  329 / 606 ---- MJ Guptill
Epoch =  330 / 606 ---- MJ Henry
Epoch =  331 / 606 ---- MJ Lumb
Epoch =  332 / 606 ---- MJ McClenaghan
Epoch =  333 / 606 ---- MJ Santner
Epoch =  334 / 606 ---- MK Lomror
Epoch =  335 / 606 ---- MK Pandey
Epoch =  336 / 606 ---- MK Tiwary
Epoch =  337 / 606 ---- ML Hayden
Epoch =  338 / 606 ---- MM Ali
Epoch =  339 / 606 ---- MM Patel
Epoch =  340 / 606 ---- MM Sharma
Epoch =  341 / 606 ---- MN Samuels
Epoch =  342 / 606 ---- MN van Wyk
Epoch =  343 / 606 ---- MP Stoinis
Epoch =  344 / 606 ---- MR Marsh
Epoch =  345 / 606 ---- MS Bisla
Epoch =  346 / 606 ---- MS Dhoni
Epoch =  347 / 606 ---- MS Gony
Epoch =  348 / 606 ---- MS Wade
Epoch =  349 / 606 ---- MV Boucher
Epoch =  350 / 606 ---- Mandeep Singh
Epoch =  351 / 606 ---- Misbah-ul-Haq
Epoch =  352 / 606 ---- Mohammad Asif
Epoch =  353 / 606 ---- Mohammad Hafeez
Epoch =  354 / 606 ---- Mohammad Nabi
Epoch =  355 / 606 ---- Mohammed Shami
Epoch =  356 / 606 ---- Mohammed Siraj
Epoch =  357 / 606 ---- Mohsin Khan
Epoch =  358 / 606 ---- Mujeeb Ur Rahman
Epoch =  359 / 606 ---- Mukesh Choudhary
Epoch =  360 / 606 ---- Mustafizur Rahman
Epoch =  361 / 606 ---- N Jagadeesan
Epoch =  362 / 606 ---- N Pooran
Epoch =  363 / 606 ---- N Rana
Epoch =  364 / 606 ---- N Saini
Epoch =  365 / 606 ---- NB Singh
Epoch =  366 / 606 ---- ND Doshi
Epoch =  367 / 606 ---- NJ Maddinson
Epoch =  368 / 606 ---- NK Patel
Epoch =  369 / 606 ---- NLTC Perera
Epoch =  370 / 606 ---- NM Coulter-Nile
Epoch =  371 / 606 ---- NS Naik
Epoch =  372 / 606 ---- NT Ellis
Epoch =  373 / 606 ---- NV Ojha
Epoch =  374 / 606 ---- Navdeep Saini
Epoch =  375 / 606 ---- O Thomas
Epoch =  376 / 606 ---- OA Shah
Epoch =  377 / 606 ---- OC McCoy
Epoch =  378 / 606 ---- OF Smith
Epoch =  379 / 606 ---- P Amarnath
Epoch =  380 / 606 ---- P Awana
Epoch =  381 / 606 ---- P Chopra
Epoch =  382 / 606 ---- P Dharmani
Epoch =  383 / 606 ---- P Dogra
Epoch =  384 / 606 ---- P Dubey
Epoch =  385 / 606 ---- P Kumar
Epoch =  386 / 606 ---- P Negi
Epoch =  387 / 606 ---- P Parameswaran
Epoch =  388 / 606 ---- P Prasanth
Epoch =  389 / 606 ---- P Sahu
Epoch =  390 / 606 ---- P Simran Singh
Epoch =  391 / 606 ---- P Suyal
Epoch =  392 / 606 ---- PA Patel
Epoch =  393 / 606 ---- PA Reddy
Epoch =  394 / 606 ---- PBB Rajapaksa
Epoch =  395 / 606 ---- PC Valthaty
Epoch =  396 / 606 ---- PD Collingwood
Epoch =  397 / 606 ---- PH Solanki
Epoch =  398 / 606 ---- PJ Cummins
Epoch =  399 / 606 ---- PJ Sangwan
Epoch =  400 / 606 ---- PK Garg
Epoch =  401 / 606 ---- PM Sarvesh Kumar
Epoch =  402 / 606 ---- PP Chawla
Epoch =  403 / 606 ---- PP Ojha
Epoch =  404 / 606 ---- PP Shaw
Epoch =  405 / 606 ---- PR Shah
Epoch =  406 / 606 ---- PSP Handscomb
Epoch =  407 / 606 ---- PV Tambe
Epoch =  408 / 606 ---- PVD Chameera
Epoch =  409 / 606 ---- PWH de Silva
Epoch =  410 / 606 ---- Pankaj Singh
Epoch =  411 / 606 ---- Parvez Rasool
Epoch =  412 / 606 ---- Q de Kock
Epoch =  413 / 606 ---- R Ashwin
Epoch =  414 / 606 ---- R Bhatia
Epoch =  415 / 606 ---- R Bishnoi
Epoch =  416 / 606 ---- R Dhawan
Epoch =  417 / 606 ---- R Dravid
Epoch =  418 / 606 ---- R McLaren
Epoch =  419 / 606 ---- R Parag
Epoch =  420 / 606 ---- R Powell
Epoch =  421 / 606 ---- R Rampaul
Epoch =  422 / 606 ---- R Sai Kishore
Epoch =  423 / 606 ---- R Sathish
Epoch =  424 / 606 ---- R Sharma
Epoch =  425 / 606 ---- R Shepherd
Epoch =  426 / 606 ---- R Shukla
Epoch =  427 / 606 ---- R Tewatia
Epoch =  428 / 606 ---- R Vinay Kumar
Epoch =  429 / 606 ---- RA Bawa
Epoch =  430 / 606 ---- RA Jadeja
Epoch =  431 / 606 ---- RA Tripathi
Epoch =  432 / 606 ---- RD Chahar
Epoch =  433 / 606 ---- RD Gaikwad
Epoch =  434 / 606 ---- RE Levi
Epoch =  435 / 606 ---- RE van der Merwe
Epoch =  436 / 606 ---- RG Sharma
Epoch =  437 / 606 ---- RJ Harris
Epoch =  438 / 606 ---- RJ Peterson
Epoch =  439 / 606 ---- RK Singh
Epoch =  440 / 606 ---- RM Patidar
Epoch =  441 / 606 ---- RN ten Doeschate
Epoch =  442 / 606 ---- RP Meredith
Epoch =  443 / 606 ---- RP Singh
Epoch =  444 / 606 ---- RR Pant
Epoch =  445 / 606 ---- RR Powar
Epoch =  446 / 606 ---- RR Raje
Epoch =  447 / 606 ---- RR Rossouw
Epoch =  448 / 606 ---- RR Sarwan
Epoch =  449 / 606 ---- RS Bopara
Epoch =  450 / 606 ---- RS Gavaskar
Epoch =  451 / 606 ---- RS Sodhi
Epoch =  452 / 606 ---- RT Ponting
Epoch =  453 / 606 ---- RV Gomez
Epoch =  454 / 606 ---- RV Patel
Epoch =  455 / 606 ---- RV Pawar
Epoch =  456 / 606 ---- RV Uthappa
Epoch =  457 / 606 ---- Ramandeep Singh
Epoch =  458 / 606 ---- Rashid Khan
Epoch =  459 / 606 ---- Ravi Bishnoi
Epoch =  460 / 606 ---- S Anirudha
Epoch =  461 / 606 ---- S Aravind
Epoch =  462 / 606 ---- S Badree
Epoch =  463 / 606 ---- S Badrinath
Epoch =  464 / 606 ---- S Chanderpaul
Epoch =  465 / 606 ---- S Dhawan
Epoch =  466 / 606 ---- S Dube
Epoch =  467 / 606 ---- S Gopal
Epoch =  468 / 606 ---- S Kaul
Epoch =  469 / 606 ---- S Kaushik
Epoch =  470 / 606 ---- S Ladda
Epoch =  471 / 606 ---- S Lamichhane
Epoch =  472 / 606 ---- S Midhun
Epoch =  473 / 606 ---- S Nadeem
Epoch =  474 / 606 ---- S Narwal
Epoch =  475 / 606 ---- S Rana
Epoch =  476 / 606 ---- S Randiv
Epoch =  477 / 606 ---- S Sandeep Warrier
Epoch =  478 / 606 ---- S Sohal
Epoch =  479 / 606 ---- S Sreesanth
Epoch =  480 / 606 ---- S Sriram
Epoch =  481 / 606 ---- S Tyagi
Epoch =  482 / 606 ---- S Vidyut
Epoch =  483 / 606 ---- SA Abbott
Epoch =  484 / 606 ---- SA Asnodkar
Epoch =  485 / 606 ---- SA Yadav
Epoch =  486 / 606 ---- SB Bangar
Epoch =  487 / 606 ---- SB Jakati
Epoch =  488 / 606 ---- SB Joshi
Epoch =  489 / 606 ---- SB Styris
Epoch =  490 / 606 ---- SB Wagh
Epoch =  491 / 606 ---- SC Ganguly
Epoch =  492 / 606 ---- SC Kuggeleijn
Epoch =  493 / 606 ---- SD Chitnis
Epoch =  494 / 606 ---- SE Bond
Epoch =  495 / 606 ---- SE Marsh
Epoch =  496 / 606 ---- SE Rutherford
Epoch =  497 / 606 ---- SJ Srivastava
Epoch =  498 / 606 ---- SK Raina
Epoch =  499 / 606 ---- SK Trivedi
Epoch =  500 / 606 ---- SK Warne
Epoch =  501 / 606 ---- SL Malinga
Epoch =  502 / 606 ---- SM Boland
Epoch =  503 / 606 ---- SM Curran
Epoch =  504 / 606 ---- SM Katich
Epoch =  505 / 606 ---- SM Pollock
Epoch =  506 / 606 ---- SMSM Senanayake
Epoch =  507 / 606 ---- SN Khan
Epoch =  508 / 606 ---- SN Thakur
Epoch =  509 / 606 ---- SO Hetmyer
Epoch =  510 / 606 ---- SP Fleming
Epoch =  511 / 606 ---- SP Goswami
Epoch =  512 / 606 ---- SP Jackson
Epoch =  513 / 606 ---- SP Narine
Epoch =  514 / 606 ---- SPD Smith
Epoch =  515 / 606 ---- SR Tendulkar
Epoch =  516 / 606 ---- SR Watson
Epoch =  517 / 606 ---- SS Agarwal
Epoch =  518 / 606 ---- SS Cottrell
Epoch =  519 / 606 ---- SS Iyer
Epoch =  520 / 606 ---- SS Prabhudessai
Epoch =  521 / 606 ---- SS Sarkar
Epoch =  522 / 606 ---- SS Shaikh
Epoch =  523 / 606 ---- SS Tiwary
Epoch =  524 / 606 ---- ST Jayasuriya
Epoch =  525 / 606 ---- STR Binny
Epoch =  526 / 606 ---- SV Samson
Epoch =  527 / 606 ---- SW Billings
Epoch =  528 / 606 ---- SW Tait
Epoch =  529 / 606 ---- Sachin Baby
Epoch =  530 / 606 ---- Salman Butt
Epoch =  531 / 606 ---- Sandeep Sharma
Epoch =  532 / 606 ---- Shahbaz Ahmed
Epoch =  533 / 606 ---- Shahid Afridi
Epoch =  534 / 606 ---- Shakib Al Hasan
Epoch =  535 / 606 ---- Shashank Singh
Epoch =  536 / 606 ---- Shivam Mavi
Epoch =  537 / 606 ---- Shivam Sharma
Epoch =  538 / 606 ---- Shoaib Ahmed
Epoch =  539 / 606 ---- Shoaib Akhtar
Epoch =  540 / 606 ---- Shoaib Malik
Epoch =  541 / 606 ---- Shubman Gill
Epoch =  542 / 606 ---- Simarjeet Singh
Epoch =  543 / 606 ---- Sohail Tanvir
Epoch =  544 / 606 ---- Sunny Gupta
Epoch =  545 / 606 ---- Sunny Singh
Epoch =  546 / 606 ---- Swapnil Singh
Epoch =  547 / 606 ---- T Banton
Epoch =  548 / 606 ---- T Kohli
Epoch =  549 / 606 ---- T Natarajan
Epoch =  550 / 606 ---- T Shamsi
Epoch =  551 / 606 ---- T Taibu
Epoch =  552 / 606 ---- T Thushara
Epoch =  553 / 606 ---- TA Boult
Epoch =  554 / 606 ---- TG Southee
Epoch =  555 / 606 ---- TH David
Epoch =  556 / 606 ---- TK Curran
Epoch =  557 / 606 ---- TL Seifert
Epoch =  558 / 606 ---- TL Suman
Epoch =  559 / 606 ---- TM Dilshan
Epoch =  560 / 606 ---- TM Head
Epoch =  561 / 606 ---- TM Srivastava
Epoch =  562 / 606 ---- TP Sudhindra
Epoch =  563 / 606 ---- TR Birt
Epoch =  564 / 606 ---- TS Mills
Epoch =  565 / 606 ---- TU Deshpande
Epoch =  566 / 606 ---- Tilak Varma
Epoch =  567 / 606 ---- U Kaul
Epoch =  568 / 606 ---- UA Birla
Epoch =  569 / 606 ---- UBT Chand
Epoch =  570 / 606 ---- UT Khawaja
Epoch =  571 / 606 ---- UT Yadav
Epoch =  572 / 606 ---- Umar Gul
Epoch =  573 / 606 ---- Umran Malik
Epoch =  574 / 606 ---- V Kohli
Epoch =  575 / 606 ---- V Pratap Singh
Epoch =  576 / 606 ---- V Sehwag
Epoch =  577 / 606 ---- V Shankar

In [6]:
combined_df_batting

,Name,Matches,Innings,Runs,Balls,Average,Strike Rate,Not Outs
0,A Ashish Reddy,31,23,280,193,18.67,145.08,8
1,A Badoni,13,11,161,130,20.12,123.85,3
2,A Chandila,12,2,4,7,NaN,57.14,2
3,A Chopra,7,6,53,71,8.83,74.65,0
4,A Choudhary,5,3,25,20,25.00,125.00,2
...,...,...,...,...,...,...,...,...
601,YV Takawale,16,10,192,178,24.00,107.87,2
602,Yash Dayal,9,1,0,1,0.00,0.00,0
603,Yashpal Singh,8,4,47,66,11.75,71.21,0
604,Yuvraj Singh,132,126,2754,2122,24.81,129.78,15
605,Z Khan,99,32,117,141,8.36,82.98,18

In [7]:
combined_df_batting = combined_df_batting.rename(columns={'Strike Rate': 'Strike_Rate', 'Not Outs': 'Not_Outs'})
combined_df_batting

,Name,Matches,Innings,Runs,Balls,Average,Strike_Rate,Not_Outs
0,A Ashish Reddy,31,23,280,193,18.67,145.08,8
1,A Badoni,13,11,161,130,20.12,123.85,3
2,A Chandila,12,2,4,7,NaN,57.14,2
3,A Chopra,7,6,53,71,8.83,74.65,0
4,A Choudhary,5,3,25,20,25.00,125.00,2
...,...,...,...,...,...,...,...,...
601,YV Takawale,16,10,192,178,24.00,107.87,2
602,Yash Dayal,9,1,0,1,0.00,0.00,0
603,Yashpal Singh,8,4,47,66,11.75,71.21,0
604,Yuvraj Singh,132,126,2754,2122,24.81,129.78,15
605,Z Khan,99,32,117,141,8.36,82.98,18

In [8]:
combined_df_bowling

,Name,Matches,Innings,Runs,Wickets,Economy,Balls,Strike Rate,Average
0,A Ashish Reddy,31,20,396,18,9.07,262,14.56,22.00
1,A Badoni,13,2,11,2,5.50,12,6.00,5.50
2,A Chandila,12,12,242,11,6.21,234,21.27,22.00
3,A Chopra,7,0,0,0,NaN,0,NaN,NaN
4,A Choudhary,5,5,144,5,8.55,101,20.20,28.80
...,...,...,...,...,...,...,...,...,...
601,YV Takawale,16,0,0,0,NaN,0,NaN,NaN
602,Yash Dayal,9,9,296,11,9.25,192,17.45,26.91
603,Yashpal Singh,8,0,0,0,NaN,0,NaN,NaN
604,Yuvraj Singh,132,73,1077,36,7.44,869,24.14,29.92
605,Z Khan,99,99,2782,103,7.59,2200,21.36,27.01

In [9]:
combined_df_bowling = combined_df_bowling.rename(columns={'Strike Rate': 'Strike_Rate'})
combined_df_bowling

,Name,Matches,Innings,Runs,Wickets,Economy,Balls,Strike_Rate,Average
0,A Ashish Reddy,31,20,396,18,9.07,262,14.56,22.00
1,A Badoni,13,2,11,2,5.50,12,6.00,5.50
2,A Chandila,12,12,242,11,6.21,234,21.27,22.00
3,A Chopra,7,0,0,0,NaN,0,NaN,NaN
4,A Choudhary,5,5,144,5,8.55,101,20.20,28.80
...,...,...,...,...,...,...,...,...,...
601,YV Takawale,16,0,0,0,NaN,0,NaN,NaN
602,Yash Dayal,9,9,296,11,9.25,192,17.45,26.91
603,Yashpal Singh,8,0,0,0,NaN,0,NaN,NaN
604,Yuvraj Singh,132,73,1077,36,7.44,869,24.14,29.92
605,Z Khan,99,99,2782,103,7.59,2200,21.36,27.01

In [10]:
import sqlite3


conn = sqlite3.connect('./ipl_database.db')

# Write the DataFrame to a SQL database
combined_df_batting.to_sql('ipl_batter_list', conn, index=False, if_exists='replace')
combined_df_bowling.to_sql('ipl_bowler_list', conn, index=False, if_exists='replace')

# Close the connection
conn.close()

In [12]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('./ipl_database.db')

# Read the combined_df_batting table from the database
combined_df_batting = pd.read_sql_query("SELECT * FROM ipl_batter_list WHERE Balls >= 60 ORDER BY Average DESC", conn)

# Close the connection
conn.close()

# Display the DataFrame
print(combined_df_batting)

              Name  Matches  Innings  Runs  Balls  Average  Strike_Rate
0       MN van Wyk        5        5   167    132    55.67       126.52  \
1         KL Rahul      109      100  3895   2861    46.93       136.14
2         AC Voges        9        7   181    143    45.25       126.57
3          HM Amla       16       16   577    407    44.38       141.77
4    Iqbal Abdulla       49       13    88     84    44.00       104.76
..             ...      ...      ...   ...    ...      ...          ...
314     SL Malinga      122       25    88     99     5.50        88.89
315      YS Chahal      131       20    37     86     5.29        43.02
316       R Sharma       60       20    66     75     4.71        88.00
317       RP Singh       82       30    52     76     3.47        68.42
318       S Nadeem       72       22    39     87     2.79        44.83

     Not_Outs
0           2
1          17
2           3
3           3
4          11
..        ...
314         9
315        13
316         6
317        15
318         8

[319 rows x 8 columns]

In [51]:
import sqlite3
import pandas as pd

def innings_by_innings_list_match_list_details(id_list):
    Date = []
    Venue = []
    Season = []
    MatchNumber = []
    City = []
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()
    for ID in id_list:
        query = '''
        SELECT 
            Date, Venue, Season, MatchNumber, City   
        FROM 
            ipl_match_list
        WHERE 
            ID = ?
        GROUP BY 
            ID;
        '''
        cursor.execute(query, (ID,))
        x = cursor.fetchall()[0]
        Date.append(x[0])
        Venue.append(x[1])
        Season.append(x[2])
        MatchNumber.append(x[3])
        City.append(x[4])
        
   

    conn.close()

    return Date, Venue, Season, MatchNumber, City

def innings_by_innings_list_batting(name, id_list):
    batter,	Runs_Scored, Balls_Faced, Four_Count, Six_Count, Out, Dismissal_Type, fielders_involved, Bowler = [], [], [], [], [], [], [], [], []

    batter_dict = {}
    conn = sqlite3.connect('./ipl_database.db')
    cursor = conn.cursor()
    for ID in id_list:
        query = '''
        SELECT 
            batter AS Name,
            SUM(batsman_run) AS Runs_Scored,
            COUNT(CASE WHEN extra_type IS NULL OR extra_type = 'byes' OR extra_type = 'legbyes' OR extra_type = 'noballs' THEN 1 ELSE NULL END) AS Balls_Faced,
            SUM(CASE WHEN batsman_run = 4 THEN 1 ELSE 0 END) AS Four_Count,
            SUM(CASE WHEN batsman_run = 6 THEN 1 ELSE 0 END) AS Six_Count,
            COUNT(CASE WHEN isWicketDelivery = 1 THEN 1 ELSE NULL END) AS Out,
            MAX(CASE WHEN isWicketDelivery = 1 THEN kind ELSE NULL END) AS Dismissal_Type,
            MAX(CASE WHEN isWicketDelivery = 1 THEN fielders_involved ELSE NULL END) AS fielders_involved,
            MAX(CASE WHEN isWicketDelivery = 1 AND kind <> 'run out' THEN bowler ELSE NULL END) AS Bowler
            
        FROM 
            ipl_ball_by_ball
        WHERE 
            batter = ? AND ID = ?
        GROUP BY 
            batter;
        '''
        cursor.execute(query, (name, ID))
        x = cursor.fetchall()[0]
        if x:
            batter.append(x[0])
            Runs_Scored.append(x[1])
            Balls_Faced.append(x[2])
            Four_Count.append(x[3])
            Six_Count.append(x[4])
            Out.append(x[5])
            Dismissal_Type.append(x[6])
            fielders_involved.append(x[7])
            Bowler.append(x[8])
        else:
            batter.append(None)
            Runs_Scored.append(None)
            Balls_Faced.append(None)
            Four_Count.append(None)
            Six_Count.append(None)
            Out.append(None)
            Dismissal_Type.append(None)
            fielders_involved.append(None)
            Bowler.append(None)
    
    Date, Venue, Season, MatchNumber, City = innings_by_innings_list_match_list_details(id_list)
    batter_dict["Date"] = Date
    batter_dict["MatchNumber"] = MatchNumber
    batter_dict["Season"] = Season
    batter_dict["batter"] = batter
    batter_dict["Runs_Scored"] = Runs_Scored
    batter_dict["Balls_Faced"] = Balls_Faced
    batter_dict["Four_Count"] = Four_Count
    batter_dict["Six_Count"] = Six_Count
    batter_dict["Out"] = Out
    batter_dict["Dismissal_Type"] = Dismissal_Type
    batter_dict["fielders_involved"] = fielders_involved
    batter_dict["Bowler"] = Bowler
    batter_dict["Venue"] = Venue
    batter_dict["City"] = City
    batter_dict["ID"] = id_list
    
    conn.close()
    df = pd.DataFrame(batter_dict)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date', ascending=True)
    return df

innings_by_innings_list_batting("Shubman Gill", [1254117, 1304103])

,Date,MatchNumber,Season,batter,Runs_Scored,Balls_Faced,Four_Count,Six_Count,Out,Dismissal_Type,fielders_involved,Bowler,Venue,City,ID
0,2021-10-15,Final,2021,Shubman Gill,51,43,6,0,1,lbw,None,DL Chahar,Dubai International Cricket Stadium,Dubai,1254117
1,2022-05-10,57,2022,Shubman Gill,63,49,7,0,0,None,None,None,Maharashtra Cricket Association Stadium,Pune,1304103

In [1]:
id_list = [1216536, 1216533, 1216509, 1216528, 1216525, 1216501, 1216513, 1216516, 1216539, 1216496, 1216492, 1181768, 1181767, 1181764, 1178430, 1178425, 1178419, 1178416, 1178414, 1178408, 1178404, 1178400, 1178398, 1178393, 1175370, 1175367, 1175360, 1175356, 1136620, 1136617, 1136612, 1136606, 1136603, 1136595, 1136593, 1136590, 1136587, 1136584, 1136580, 1136577, 1136572, 1136565, 1136561, 1082646, 1082633, 1082628, 1082610, 1082607, 1082598, 1082595, 1082591, 981019, 981013, 981011, 980999, 980995, 980987, 980981, 980977, 980969, 980959, 980953, 980937, 980931, 980927, 980921, 980907, 829819, 829811, 829797, 829787, 829777, 829769, 829763, 829749, 829741, 829735, 734041, 734033, 734017, 734003, 733999, 733989, 733979, 733975, 729315, 729305, 729297, 729291, 729285, 598072, 598071, 598065, 598063, 598058, 598052, 598049, 598047, 598043, 598036, 598032, 598026, 598023, 598019, 598014, 598005, 548377, 548373, 548365, 548361, 548358, 548354, 548349, 501263, 501258, 501252, 501249, 501240, 501235, 501231, 501225, 501220, 501214, 501209, 419158, 419154, 419150, 419143, 419141, 419137, 336040, 336038, 336019, 336036, 336027, 336023, 336015, 336011, 336008, 336005, 336000, 335992, 335990, 335987, 335984]

In [2]:
team1_list = ['Royal Challengers Bangalore', 'Rajasthan Royals', 'Chennai Super Kings']
team2_list = ['Sunrisers Hyderabad', 'Rising Pune Supergiant', 'Rajasthan Royals', 'Delhi Daredevils', 'Rising Pune Supergiants', 'Delhi Capitals', 'Gujarat Lions', 'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Deccan Chargers', 'Chennai Super Kings', 'Kolkata Knight Riders', 'Mumbai Indians', 'Pune Warriors', 'Royal Challengers Bangalore']

In [3]:
name = "SR Watson"

In [4]:
venue = ["M.Chinnaswamy Stadium", "Sawai Mansingh Stadium", "MA Chidambaram Stadium"]

In [13]:
import sqlite3
import pandas as pd
def select_matches_home(player_name, id_list, teamfor_list, teamagainst_list, venue):

    # Connect to the database
    conn = sqlite3.connect('./ipl_database.db')
    
    # Format teamfor_list_str for the query
    teamfor_list_str = ', '.join([f'"{team}"' for team in teamfor_list])

    # Format teamagainst_list_str for the query
    teamagainst_list_str = ', '.join([f'"{team}"' for team in teamagainst_list])

    # Format id_list_str for the query
    id_list_str = ', '.join([str(id) for id in id_list])
    print(type(teamfor_list_str))
    print(type(teamagainst_list_str))
    print(type(id_list_str))   

    # SQL query
    query = f'''
    SELECT m.ID, 
    CASE 
        WHEN p1 LIKE '%' || ? || '%' THEN Team1 
        WHEN p2 LIKE '%' || ? || '%' THEN Team2 
    END AS PlayerTeam,
    CASE 
        WHEN p1 LIKE '%' || ? || '%' THEN Team2 
        WHEN p2 LIKE '%' || ? || '%' THEN Team1 
    END AS OpponentTeam,
    v.City, 
    m.Date
    FROM ipl_match_list m
    JOIN ipl_venue_list v ON m.Venue = v.Venue
    CROSS JOIN (SELECT ? AS p1, ? AS p2) AS params
    WHERE (Team1Players LIKE '%' || ? || '%' OR Team2Players LIKE '%' || ? || '%')
    AND v.Teams LIKE '%' || ? || '%';
    '''

    # Fetch results into DataFrame
    df = pd.read_sql_query(query, conn, params=('%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', '%' + player_name + '%', teamfor_list_str, teamagainst_list_str, id_list_str, '%' + venue + '%'))

    # Close the connection
    conn.close()

    return df

In [14]:
select_matches_home(name, id_list, team1_list, team2_list, venue)

<class 'str'>
<class 'str'>
<class 'str'>

TypeError: can only concatenate str (not "list") to str

In [3]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('ipl_database.db')

# Read ipl_match_list and ipl_ball_by_ball tables into pandas dataframes
ipl_match_list = pd.read_sql_query("SELECT * FROM ipl_match_list", conn)
ipl_ball_by_ball = pd.read_sql_query("SELECT * FROM ipl_ball_by_ball", conn)

# Close the database connection
conn.close()

# Now you can use ipl_match_list and ipl_ball_by_ball dataframes for analysis

# Assuming you have loaded the ipl_match_list and ipl_ball_by_ball dataframes

# Step 1: Merge the dataframes
merged_data = pd.merge(ipl_match_list, ipl_ball_by_ball, on='ID')

# Step 2: Filter based on venue
venue_name = 'Wankhede Stadium'  # Replace 'Your Venue Name' with the actual venue name
venue_data = merged_data[merged_data['Venue'] == venue_name]


# Step 3: Group by batsman and aggregate batting statistics
batting_stats = venue_data.groupby('batter').agg(
    runs=('batsman_run', 'sum'),
    dismissals=('isWicketDelivery', 'sum'),  # Count dismissals
    balls=('ballnumber', 'count'),
    fours=('batsman_run', lambda x: (x == 4).sum()),
    sixes=('batsman_run', lambda x: (x == 6).sum()),
    strike_rate=('batsman_run', lambda x: (x.sum() / len(x)) * 100)
).reset_index()

batting_stats['Average'] = batting_stats.apply(lambda x: x['runs'] / x['dismissals'] if x['dismissals'] != 0 else float('nan'), axis=1)


batting_stats = batting_stats.sort_values(by='runs', ascending=False)
batting_stats

,batter,runs,dismissals,balls,fours,sixes,strike_rate,Average
253,RG Sharma,1840,55,1424,167,73,129.213483,33.454545
136,KA Pollard,1228,44,831,78,85,147.773767,27.909091
28,AT Rayudu,988,41,786,88,43,125.699746,24.097561
139,KD Karthik,772,25,577,83,25,133.795494,30.880000
119,JC Buttler,728,19,507,70,40,143.589744,38.315789
...,...,...,...,...,...,...,...,...
157,LR Shukla,0,1,4,0,0,0.000000,0.000000
168,M Prasidh Krishna,0,0,1,0,0,0.000000,NaN
171,M Theekshana,0,1,3,0,0,0.000000,0.000000
48,C Sakariya,0,1,1,0,0,0.000000,0.000000
57,CK Kapugedera,0,1,2,0,0,0.000000,0.000000

In [4]:
jc_buttler_stats = batting_stats[batting_stats['batter'] == "JC Buttler"]
jc_buttler_stats

         batter  runs  dismissals  balls  fours  sixes  strike_rate    Average
119  JC Buttler   728          19    507     70     40   143.589744  38.315789

In [5]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('ipl_database.db')

# Read ipl_match_list and ipl_ball_by_ball tables into pandas dataframes
ipl_match_list = pd.read_sql_query("SELECT * FROM ipl_match_list", conn)
ipl_ball_by_ball = pd.read_sql_query("SELECT * FROM ipl_ball_by_ball", conn)
ipl_match_list['Venue'] = ipl_match_list['Venue'].replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')
# Close the database connection
conn.close()

# Merge the dataframes
merged_data = pd.merge(ipl_match_list, ipl_ball_by_ball, on='ID')

# Filter data for matches where "SR Tendulkar" played
player_name = "SR Tendulkar"
player_data = merged_data[merged_data['batter'] == player_name]

# Group by venue and aggregate batting statistics
venue_stats = player_data.groupby('Venue').agg(
    runs=('batsman_run', 'sum'),
    dismissals=('isWicketDelivery', 'sum'),
    balls=('ballnumber', 'count'),
    fours=('batsman_run', lambda x: (x == 4).sum()),
    sixes=('batsman_run', lambda x: (x == 6).sum()),
    strike_rate=('batsman_run', lambda x: (x.sum() / len(x)) * 100)
)

# Calculate average runs per dismissal
venue_stats['Average'] = venue_stats['runs'] / venue_stats['dismissals'].replace(0, pd.NA)

# Reset index to make Venue a column instead of index
venue_stats.reset_index(inplace=True)

# Display the venue-wise batting statistics
print(venue_stats)

                                 Venue  runs  dismissals  balls  fours  sixes
0                    Brabourne Stadium   261           6    211     35      1  \
1                         Buffalo Park    49           2     47      5      2
2           Dr DY Patil Sports Academy   136           4    129     23      0
3                         Eden Gardens    42           3     36      6      0
4                     Feroz Shah Kotla   188           5    162     21      4
5                            Kingsmead    77           3     66      7      3
6                M Chinnaswamy Stadium   148           4    144     20      1
7               MA Chidambaram Stadium   101           4     77     14      1
8                New Wanderers Stadium    11           1     11      2      0
9                             Newlands    59           0     49      7      0
10  Punjab Cricket Association Stadium    69           3     63      8      0
11  Rajiv Gandhi International Stadium    65           3     59     10      0
12              Sawai Mansingh Stadium   185           3    165     19      2
13                    St George's Park    79           3     65      6      4
14          Subrata Roy Sahara Stadium    49           2     51      7      0
15                     SuperSport Park    89           2     77     12      1
16                    Wankhede Stadium   726          23    632     94     10

    strike_rate    Average
0    123.696682       43.5
1    104.255319       24.5
2    105.426357       34.0
3    116.666667       14.0
4    116.049383       37.6
5    116.666667  25.666667
6    102.777778       37.0
7    131.168831      25.25
8    100.000000       11.0
9    120.408163       <NA>
10   109.523810       23.0
11   110.169492  21.666667
12   112.121212  61.666667
13   121.538462  26.333333
14    96.078431       24.5
15   115.584416       44.5
16   114.873418  31.565217

In [6]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('ipl_database.db')

# Read ipl_match_list and ipl_ball_by_ball tables into pandas dataframes
ipl_match_list = pd.read_sql_query("SELECT * FROM ipl_match_list", conn)
ipl_ball_by_ball = pd.read_sql_query("SELECT * FROM ipl_ball_by_ball", conn)
ipl_match_list['Venue'] = ipl_match_list['Venue'].replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')
# Close the database connection
conn.close()

# Merge the dataframes
merged_data = pd.merge(ipl_match_list, ipl_ball_by_ball, on='ID')

# Filter data for matches where "SL Malinga" bowled
player_name = "SL Malinga"
player_data = merged_data[merged_data['bowler'] == player_name]

# Group by venue and aggregate bowling statistics
venue_stats = player_data.groupby('Venue').agg(
    runs_conceded=('total_run', 'sum'),
    wickets_taken=('isWicketDelivery', 'sum'),
    balls=('ballnumber', 'count'),
    fours=('total_run', lambda x: ((x == 4) | (x == 5)).sum()),  # Assuming 5 denotes no-ball in total_run
    sixes=('total_run', lambda x: ((x == 6) | (x == 7)).sum()),  # Assuming 7 denotes wide in total_run
    strike_rate=('total_run', lambda x: (x.sum() / len(x)) * 100)
)

# Calculate average runs per wicket
venue_stats['Average'] = venue_stats['runs_conceded'] / venue_stats['wickets_taken'].replace(0, pd.NA)

# Reset index to make Venue a column instead of index
venue_stats.reset_index(inplace=True)

# Display the venue-wise bowling statistics
print(venue_stats)

                                                Venue  runs_conceded
0                                Arun Jaitley Stadium             41  \
1                                    Barabati Stadium             30
2                                   Brabourne Stadium            171
3                                        Buffalo Park             53
4                          Dr DY Patil Sports Academy             96
5   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...             27
6                 Dubai International Cricket Stadium             81
7                                        Eden Gardens            247
8                                    Feroz Shah Kotla            168
9        Himachal Pradesh Cricket Association Stadium             40
10                             Holkar Cricket Stadium             58
11                                          Kingsmead             68
12                              M Chinnaswamy Stadium            210
13                             MA Chidambaram Stadium            141
14                              New Wanderers Stadium             25
15                                           Newlands             20
16       Punjab Cricket Association IS Bindra Stadium             24
17                 Punjab Cricket Association Stadium             97
18                 Rajiv Gandhi International Stadium            194
19                               Sardar Patel Stadium             41
20             Saurashtra Cricket Association Stadium             33
21                             Sawai Mansingh Stadium            144
22                            Sharjah Cricket Stadium             22
23                               Sheikh Zayed Stadium             27
24                                   St George's Park             71
25                         Subrata Roy Sahara Stadium             53
26                                    SuperSport Park             97
27                                   Wankhede Stadium           1207

    wickets_taken  balls  fours  sixes  strike_rate    Average
0               1     25      4      1   164.000000       41.0
1               1     25      5      0   120.000000       30.0
2               8    150     16      2   114.000000     21.375
3               2     53      3      1   100.000000       26.5
4               9    100      8      1    96.000000  10.666667
5               3     24      1      2   112.500000        9.0
6               2     71      8      1   114.084507       40.5
7               8    201     25      6   122.885572     30.875
8              12    149     22      2   112.751678       14.0
9               4     25      5      2   160.000000       10.0
10              0     26      4      5   223.076923       <NA>
11              6     75      7      1    90.666667  11.333333
12              4    151     16     10   139.072848       52.5
13              8    117     10      5   120.512821     17.625
14              0     19      1      2   131.578947       <NA>
15              3     26      2      0    76.923077   6.666667
16              0     19      3      0   126.315789       <NA>
17              9     74     12      1   131.081081  10.777778
18             10    166     18      4   116.867470       19.4
19              1     25      6      0   164.000000       41.0
20              2     28      2      1   117.857143       16.5
21              2    116     18      1   124.137931       72.0
22              2     25      1      1    88.000000       11.0
23              4     25      2      1   108.000000       6.75
24              5     70      6      1   101.428571       14.2
25              4     52      5      0   101.923077      13.25
26              5     83     10      2   116.867470       19.4
27             73   1054    112     34   114.516129  16.534247

In [12]:
import pandas as pd
import numpy as np
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('ipl_database.db')

# Read ipl_match_list and ipl_ball_by_ball tables into pandas dataframes
ipl_match_list = pd.read_sql_query("SELECT * FROM ipl_match_list", conn)
ipl_ball_by_ball = pd.read_sql_query("SELECT * FROM ipl_ball_by_ball", conn)
ipl_match_list['Venue'] = ipl_match_list['Venue'].replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')
# Close the database connection
conn.close()

# Merge the dataframes
merged_data = pd.merge(ipl_match_list, ipl_ball_by_ball, on='ID')

# Check for NA or NaN values in the 'fielders_involved' column
merged_data['fielders_involved'] = merged_data['fielders_involved'].fillna('')  # Fill NA or NaN with empty string

# Filter data for matches where the player was involved in fielding (caught, caught & bowled, run out, stumped)
player_name = "MS Dhoni"  # Specify the player's name
fielding_data = merged_data[(merged_data['fielders_involved'].str.contains(player_name)) | 
                            (merged_data['kind'].isin(['caught', 'caught and bowled', 'run out', 'stumped']))]

# Group by venue and aggregate fielding statistics
venue_stats = fielding_data.groupby('Venue').agg(
    catches=('kind', lambda x: ((x == 'caught') | (x == 'caught and bowled')).sum()),
    run_outs=('kind', lambda x: (x == 'run out').sum()),
    stumpings=('kind', lambda x: (x == 'stumped').sum())
)

# Reset index to make Venue a column instead of index
venue_stats.reset_index(inplace=True)

# Count the number of matches played by the player in each venue
matches_played = merged_data[merged_data['fielders_involved'].str.contains(player_name, na=False)].groupby('Venue')['ID'].nunique().reset_index()
matches_played.columns = ['Venue', 'Matches_Played']

# Merge matches played with venue_stats
venue_stats = pd.merge(venue_stats, matches_played, on='Venue', how='left')  # Use 'left' join to keep all venues in venue_stats

# Display the result
print(venue_stats)

                                                Venue  catches  run_outs
0                                Arun Jaitley Stadium      136        15  \
1                                    Barabati Stadium       43        10
2                                   Brabourne Stadium      214        25
3                                        Buffalo Park       23         4
4                               De Beers Diamond Oval       17         7
5                          Dr DY Patil Sports Academy      346        30
6   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      104         8
7                 Dubai International Cricket Stadium      379        39
8                                        Eden Gardens      533        93
9                                    Feroz Shah Kotla      422        78
10                                         Green Park       27         6
11       Himachal Pradesh Cricket Association Stadium       73         2
12                             Holkar Cricket Stadium       58         8
13                 JSCA International Stadium Complex       44         9
14                                          Kingsmead      131        23
15                              M Chinnaswamy Stadium      587        83
16                             MA Chidambaram Stadium      538        74
17            Maharashtra Cricket Association Stadium      293        43
18                              Narendra Modi Stadium       51         3
19                                      Nehru Stadium       34         7
20                              New Wanderers Stadium       59         6
21                                           Newlands       64        11
22                                    OUTsurance Oval       17         1
23       Punjab Cricket Association IS Bindra Stadium      141        15
24                 Punjab Cricket Association Stadium      255        36
25                 Rajiv Gandhi International Stadium      478        81
26                               Sardar Patel Stadium       81        24
27             Saurashtra Cricket Association Stadium       62        10
28                             Sawai Mansingh Stadium      317        57
29   Shaheed Veer Narayan Singh International Stadium       45         6
30                            Sharjah Cricket Stadium      205        17
31                               Sheikh Zayed Stadium      214        23
32                                   St George's Park       47         8
33                         Subrata Roy Sahara Stadium      105        22
34                                    SuperSport Park       75        16
35               Vidarbha Cricket Association Stadium       32         5
36                                   Wankhede Stadium      849        97
37                              Zayed Cricket Stadium       61         5

    stumpings  Matches_Played
0           7             1.0
1           1             NaN
2           7             3.0
3           1             NaN
4           5             1.0
5          11             5.0
6           5             4.0
7           8             8.0
8          29             3.0
9          26             1.0
10          0             NaN
11          4             1.0
12          0             NaN
13          2             4.0
14          3             3.0
15         22             5.0
16         34            35.0
17          9            11.0
18          2             NaN
19          1             NaN
20          6             1.0
21          4             1.0
22          2             NaN
23          5             3.0
24         14             2.0
25         17             5.0
26          8             1.0
27          7             2.0
28         18             4.0
29          1             NaN
30          5             2.0
31          6             5.0
32          3             1.0
33          8             1.0
34          5             NaN
35          2             1.0
36         33            11.0
37          4             2.0

In [2]:
import pandas as pd

# Sample DataFrame
data = {'Matches': [222], 'Innings': [215], 'Runs': [6634], 'Balls': [5133], 'Average': [36.25], 'Strike Rate': [129.24], 'Not Outs': [32]}
df = pd.DataFrame(data)

# Label the index as "Serial No."
df_bat = df.rename_axis('Serial No.')

df_bat

            Matches  Innings  Runs  Balls  Average  Strike Rate  Not Outs
Serial No.
0               222      215  6634   5133    36.25       129.24        32

In [13]:
def player_bowling_stats_season_wise(player_name, start_date, end_date):
    # Connect to the SQLite database
    conn = sqlite3.connect('ipl_database.db')

    # Read ipl_match_list and ipl_ball_by_ball tables into pandas dataframes
    ipl_match_list = pd.read_sql_query("SELECT * FROM ipl_match_list", conn)
    ipl_ball_by_ball = pd.read_sql_query("SELECT * FROM ipl_ball_by_ball", conn)
    
    # Filter matches based on start_date and end_date
    ipl_match_list['Date'] = pd.to_datetime(ipl_match_list['Date'])
    ipl_match_list = ipl_match_list[(ipl_match_list['Date'] >= start_date) & (ipl_match_list['Date'] <= end_date)]

    # Close the database connection
    conn.close()

    # Merge the dataframes
    merged_data = pd.merge(ipl_match_list, ipl_ball_by_ball, on='ID')

    # Filter data for matches where the specified player bowled
    player_data = merged_data[merged_data['bowler'] == player_name]

    # Group by venue and aggregate bowling statistics
    season_stats = player_data.groupby('Season').agg(
        runs_conceded=('total_run', 'sum'),
        wickets_taken=('isWicketDelivery', 'sum'),
        balls_bowled=('ballnumber', 'count'),
        fours=('total_run', lambda x: ((x == 4) | (x == 5)).sum()),  # Assuming 5 denotes no-ball in total_run
        sixes=('total_run', lambda x: ((x == 6) | (x == 7)).sum()),  # Assuming 7 denotes wide in total_run
    )

    # Calculate bowling strike rate
    season_stats['Strike_Rate'] = season_stats['balls_bowled'] / season_stats['wickets_taken']

    # Calculate average runs per wicket
    season_stats['Average'] = season_stats['runs_conceded'] / season_stats['wickets_taken'].replace(0, pd.NA)

    # Reset index to make Venue a column instead of index
    season_stats.reset_index(inplace=True)

    # Display the venue-wise bowling statistics
    return season_stats

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('./ipl_database.db')
cursor = conn.cursor()

# Update the venue names
update_query = """
UPDATE ipl_match_list
SET Venue = 'M Chinnaswamy Stadium'
WHERE Venue = 'M.Chinnaswamy Stadium';
"""

# Execute the update query
cursor.execute(update_query)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

print("Venue names updated successfully.")